{% extends "base.html" %}

{% block content %}
	<div class="greybox">
		<h2 class="title">Add ToDo List</h2>
		<form method="post" action=".">
		<table>
			<tr>
				<td>Name:</td>
				<td><input type="text" name="name" size="30" value="" /></td>
			</tr><tr>
				<td style="vertical-align:top">Description:</td>
				<td><textarea name="description" cols="60" rows="4"></textarea></td>
			</tr><tr>
				<td style="vertical-align:top">List of Package Names:<br /><span style="font-size:x-small">(one per line)</span></td>
				<td><textarea name="packages" cols="60" rows="20"></textarea></td>
			</tr><tr>
				<td colspan="2" style="text-align:right">
					<input type="submit" value=" Create List " />
				</td>
			</tr>
		</table>
		</form>
	</div>
{% endblock %}
