{% extends "base.html" %}

{% block title %}Arch Linux - Todo Lists{% endblock %}

{% block content %}
<div id="dev-todo" class="box">

    <h2>Package Todo Lists</h2>

    {% if perms.main.add_todolist %}
    <ul class="admin-actions">
        <li><a href="/todo/add/" title="Add new todo list">Add Todo List</a></li>
    </ul>
    {% endif %}

    <table id="dev-todo-lists" class="results todo-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Creation Date</th>
                <th>Creator</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for list in lists %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td><a href="{{ list.get_absolute_url }}"
                        title="View todo list: {{ list.name }}">{{ list.name }}</a></td>
                <td>{{ list.date_added }}</td>
                <td>{{ list.creator.get_full_name }}</td>
                <td class="wrap">{{ list.description|safe }}</td>
                <td>{% if list.complete %}<span class="complete">Complete</span>
                    {% else %}<span class="incomplete">Incomplete</span>{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% load cdn %}{% jquery %}
<script type="text/javascript" src="/media/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $(".results").tablesorter({widgets: ['zebra'], sortList: [[1,1]]});
});
</script>
{% endblock %}
