{% extends "base.html" %}

{% block title %}Arch Linux - Todo Lists{% endblock %}

{% block content %}
<div class="box">
    <h2>Developer Todo Lists</h2>
    <div id="public_todo_lists">
        {% for list in todo_lists %}
            <h4>{{list.name}}</h4>
            <div class="todo_list">
                <p>{{list.description}}</p>
                <ul>
                    {% for pkg in list.packages %}
                        <li>{{pkg.pkg.pkgname}}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% load cdn %}{% jquery %}
<script type="text/javascript">
    $("#public_todo_lists h4").click(
            function(e) {
                $(this).next().toggle();
            }
    );
</script>
{% endblock %}
