{% extends "base.html" %}
{% block title %}Arch Linux - Todo: {{ list.name }}{% endblock %}

{% block content %}
<div id="dev-todo-details" class="box">

    <h2>Todo List: {{ list.name }}</h2>

    <ul class="admin-actions">
        {% if perms.main.delete_todolist %}
        <li><a href="/todo/delete/{{list.id}}/"
            title="Delete this todo list">Delete Todo List</a></li>
        {% endif %}
        {% if perms.main.change_todolist %}
        <li><a href="/todo/edit/{{list.id}}/"
            title="Edit this todo list">Edit Todo List</a></li>
        {% endif %}
    </ul>

    <p>{{list.description|safe|linebreaks}}</p>

    <table id="dev-todo-pkglist" class="results todo-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Arch</th>
                <th>Repo</th>
                <th>Maintainer</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for pkg in list.packages %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td><a href="{{ pkg.pkg.get_absolute_url }}"
                        title="View package details for {{ pkg.pkg.pkgname }}">{{ pkg.pkg.pkgname }}</a></td>
                <td>{{ pkg.pkg.arch.name }}</td>
                <td>{{ pkg.pkg.repo.name|capfirst }}</td>
                <td>{{ pkg.pkg.maintainers|join:', ' }}</td>
                <td>
                    {% if pkg.complete %}
                    <a href="/todo/flag/{{ list.id }}/{{ pkg.id }}/"
                        class="complete" title="Toggle completion status">Complete</a>
                    {% else %}
                    <a href="/todo/flag/{{ list.id }}/{{ pkg.id }}/"
                        class="incomplete" title="Toggle completion status">Incomplete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% load cdn %}{% jquery %}
<script type="text/javascript" src="/media/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('a[href*=todo/flag]').click(function() {
            var link = this;

            $.getJSON(link.href, function(data) {
                if (data.complete) {
                    $(link).text('Complete').addClass('complete').removeClass('incomplete');
                } else {
                    $(link).text('Incomplete').addClass('incomplete').removeClass('complete');
                }
            });

            return false;
        });
    });
$(document).ready(function() {
    $(".results").tablesorter({widgets: ['zebra'], sortList: [[0,0], [1,0]]});
});
</script>
{% endblock %}
