image: archlinux/base

before_script:
   - pacman -Syu --needed --noconfirm python-pip git
   - pip install coverage flake8
   - pip install -r requirements.txt
   - python manage.py collectstatic --noinput

lint:
  script:
     - flake8 --exclude "*/migrations/" devel main mirrors news packages releng templates todolists visualize *.py

# TODO: https://docs.gitlab.com/ee/ci/junit_test_reports.html
test:
  script:
     - coverage run --rcfile .coveragerc manage.py test
