language: python
python:
  - "2.7"
install: "pip install -r requirements.txt && pip install coveralls"

script:
  - python manage.py collectstatic --noinput
  - coverage run --omit='env*' --source='.' manage.py test

after_success:
  - coveralls
