### Django settings for archlinux project.

## Debug settings
DEBUG = False

## Notification admins
ADMINS = (
   # ('Joe Admin', 'joeadmin@example.com'),
)

## Sqlite Database settings
#DATABASE_ENGINE     = 'sqlite3'
#DATABASE_NAME       = 'archweb.db'

## MySQL Database settings
#DATABASE_ENGINE     = 'mysql'
#DATABASE_NAME       = 'archlinux'
#DATABASE_USER       = 'archlinux'
#DATABASE_PASSWORD   = 'archlinux'
#DATABASE_HOST       = ''
#DATABASE_PORT       = ''

## Define cache middleware settings
CACHE_BACKEND = 'memcached://127.0.0.1:11211'
CACHE_MIDDLEWARE_SECONDS = 900
CACHE_MIDDLEWARE_KEY_PREFIX = 'arch'

## location for saving dev pictures
MEDIA_ROOT = '/var/www/archlinux/htdocs/img/'

## web url for serving image files
MEDIA_URL = 'http://www.archlinux.org/img/'

## Make this unique, and don't share it with anybody.
SECRET_KEY = '00000000000000000000000000000000000000000000000'

#dummy cache
if DEBUG:
    CACHE_BACKEND = 'dummy:///'

# vim: set ts=4 sw=4 et:

