-e git+git://github.com/fredj/cssmin.git@master#egg=cssmin
Django==1.7.4
IPy==0.81
Jinja2==2.7.3
Markdown==2.5.2
MarkupSafe==0.23
bencode==1.0
django-countries==3.1.1
django-jinja==1.1.0
jsmin==2.1.0
pgpdump==1.5
psycopg2==2.5.4
pyinotify==0.9.5
python-memcached==1.53
pytz>=2014.10
