-e git+https://github.com/fredj/cssmin.git@master#egg=cssmin
Django==5.1.9
IPy==1.1
Markdown==3.3.7
bencode.py==4.0.0
django-countries==7.6.1
django-extensions==4.1
jsmin==3.0.1
pgpdump==1.5
parse==1.20.2
sqlparse==0.5.0
django-csp==4.0
ptpython==2.0.4
feedparser==6.0.11
bleach==6.0.0
requests==2.32.3
xtarfile==0.2.1
zstandard==0.23.0
django-prometheus==2.3.1
