-e git+git://github.com/fredj/cssmin.git@master#egg=cssmin
Django==2.2.11
IPy==1.00
Markdown==3.2.1
bencode.py==2.0.0
django-countries==5.5
django-extensions==2.2.1
jsmin==2.2.2
pgpdump==1.5
pytz>=2019.2
parse==1.14.0
django-jinja==2.6.0
sqlparse==0.3.0
django-csp==3.5
ptpython==2.0.4
feedparser==5.2.1
bleach==3.1.4
