{% extends "base.html" %}
{% load static %}

{% block title %}Arch Linux - Developer Login{% endblock %}

{% block content %}
<div id="dev-login" class="box">
    <h2>Developer Login</h2>

    {% if OIDC %}
    <a href="{% url 'oidc_authentication_init' %}">Login with Keycloak</a>
    {% else %}
    <form id="dev-login-form" method="post">{% csrf_token %}
        <fieldset>
            <legend>Please enter your credentials to login.</legend>
            {{ form.as_p }}
            <p><label></label><input type="submit" value="Login"/></p>
        </fieldset>
    </form>
    {% endif %}
</div>
{% endblock %}
