{% extends "base.html" %}

{% block content %}
<br /><br />
<div class="box">
	<h2 class="title">Arch Linux Logos</h2>
	<br /><br />
	<table id="art" width="90%">
		<tr>
			<td><img src="/media/logos/archblue2.png"><br><a href="/media/logos/archlinux_logo_1.svg">SVG</a></td>
			<td><a href="/media/logos/archlinux_logo_aqua.png"><img src="/media/logos/sml-archlinux_logo_aqua.png" border=0></a><br><a href="/media/logos/archlinux_logo_aqua.svg">SVG</a></td>
		</tr><tr>
			<td><img src="/media/logos/128x128/arch_linux_blue.png"><br><a href="/media/logos/scalable/arch_linux_blue.svg">SVG</a></td>
			<td><img src="/media/logos/128x128/arch_linux_white.png"><br><a href="/media/logos/scalable/arch_linux_white.svg">SVG</a></td>
		</tr><tr>
			<td><img src="/media/logos/archblue.png"><br><a href="/media/logos/archlinux_logo_2.svg">SVG</a></td>
			<td><a href="/media/logos/archstar.jpg"><img src="/media/logos/sml-archstar.jpg" border="0"></a></td>
		</tr><tr>
			<td><a href="/media/logos/cdlabel-0.8-2.svg"><img src="/media/logos/sml-cdlabel-0.8-2.png" border="0"></a></td>
			<td><a href="/media/logos/cdlabel-0.8.svg"><img src="/media/logos/sml-cdlabel-0.8.png" border="0"></a></td>
		</tr><tr>
			<td colspan="2"><img src="/media/logos/archbannerglass3.jpg"></td>
		</tr>
	</table>
</div>
<br /><br />
{% endblock %}

