{% extends "base.html" %}

{% block content %}
<div class="box">
	<h2 class="title">Arch Linux Fellows</h2>
    Below you can find a list of ex-developers (aka Project Fellows). These folks helped make Arch 
    what it is today. Thanks!
	<br /><br />
	<div id="devlist">
	{% for fellow in fellows %}
		<a href="#{{ fellow.first_name}}{{ fellow.last_name.0|upper }}">{{ fellow.first_name }}{{ fellow.last_name.0|upper }}</a>  &nbsp; 
	{% endfor %}
	</div><br /><br />

	<table class="center" cellpadding="20">
	{% for fellow in fellows %}
		<tr>
			<td class="devpic">
				<img src="{{ fellow.get_profile.get_picture_url }}" height="175" width="175" style="border:1px solid black">
			</td><td>
				<a name="{{ fellow.first_name }}{{ fellow.last_name.0|upper }}" />
				<table class="deventry" cellspacing="5">
					<tr>
						<th>Name:</th>
						<td>{{ fellow.get_full_name }}</td>
					</tr><tr>
						<th>Alias:</th>
						<td>{{ fellow.get_profile.alias }}</td>
					</tr><tr>
						<th>Past Roles:</th>
						<td>{{ fellow.get_profile.roles }}<br />
						</td>
					</tr><tr>
						<th>Website:</th>
						<td>{{ fellow.get_profile.website }}</td>
					</tr><tr>
						<th>Occupation:</th>
						<td>{{ fellow.get_profile.occupation }}</td>
					</tr><tr>
						<th>YOB:</th>
                        <td>{% if fellow.get_profile.yob %}{{ fellow.get_profile.yob }}{% else %}&nbsp;{% endif %}</td>
					</tr><tr>
						<th>Location:</th>
						<td>{{ fellow.get_profile.location }}</td>
					</tr><tr>
						<th>Languages:</th>
						<td>{{ fellow.get_profile.languages }}</td>
					</tr><tr>
						<th>Interests:</th>
						<td>{{ fellow.get_profile.interests }}</td>
					</tr><tr>
						<th>Favorite Distros:</th>
						<td>{{ fellow.get_profile.favorite_distros }}</td>
					</tr>
				</table>
			</td>
		</tr>
	{% endfor %}
	</table>
</div>
<br /><br />
{% endblock %}

