{% extends "base.html" %}

{% block content %}
<div class="box">
	<h2 class="title">More Arch Forums</h2>
	<br /><br />
	<p>
	Our main forum is located at <a href="http://bbs.archlinux.org">bbs.archlinux.org</a>.
    However, there are other locale-specific forums available. 
	</p>
	<table cellspacing="20">
		<tr>
			<td width="200">Brazilian</td>
			<td><a href="http://forum.archlinux-br.org/">http://forum.archlinux-br.org</a></td>
		</tr>
		<tr>
			<td>Czech</td>
			<td><a href="http://forum.archlinux.cz/">http://forum.archlinux.cz/</a></td>
		</tr>
		<tr>
			<td>Danish</td>
			<td><a href="http://forum.archlinux.dk">http://forum.archlinux.dk/</a></td>
		</tr>
		<tr>
			<td>Dutch</td>
			<td><a href="http://arch-forum.nl/">http://arch-forum.nl/</a></td>
		</tr>
		<tr>
			<td>French</td>
			<td><a href="http://forums.archlinuxfr.org/">http://forums.archlinuxfr.org</a></td>
		</tr>
		<tr>
			<td>French</td>
			<td><a href="http://forums.archlinux.fr/">http://forums.archlinux.fr</a></td>
		</tr>
		<tr>
			<td>German</td>
			<td><a href="http://forum.archlinux.de/">http://forum.archlinux.de</a></td>
		</tr>
		<tr>
			<td>Hungarian</td>
			<td><a href="http://archlinux.hu/forum/">http://archlinux.hu/forum/</a></td>
		</tr>
		<tr>
			<td>Italian</td>
			<td><a href="http://www.archlinux.it/forum/">http://www.archlinux.it/forum/</a></td>
		</tr>
		<tr>
			<td>Polish</td>
			<td><a href="http://forum.arch-linux.pl">http://forum.arch-linux.pl</a></td>
		</tr>
		<tr>
			<td>Russian</td>
			<td><a href="http://archlinux.org.ru/forum/">http://archlinux.org.ru/forum/</a></td>
		</tr>
		<tr>
			<td>Spanish</td>
			<td><a href="http://www.archlinux.com.ar/foros/">http://www.archlinux.com.ar/foros/</a></td>
		</tr>
		<tr>
			<td>Sweden</td>
            <td><a href="http://forum.archlinux.se/">http://forum.archlinux.se/</a>
		</tr>
		<tr>
			<td>Turkish</td>
			<td><a href="http://forum.linux-sevenler.org/index.php/board,65.0.html">http://forum.linux-sevenler.org/index.php/board,65.0.html</a></td>
		</tr>
		<tr>
			<td>Ukrainian</td>
			<td><a href="http://archlinux.org.ua/">http://archlinux.org.ua/</a></td>
		</tr>
    </table>
    <br />
    If you have a forum you would like linked, please open a <a href="http://bugs.archlinux.org/">Bug Ticket</a> with the category "web site", and a relevant description.
</div>
<br /><br />
{% endblock %}

