{% extends "base.html" %}

{% block content %}
<div class="box">
	<h2 class="title">Who's Talking About Arch?</h2>
	<br /><br />
	Lots of people.
	<ul>
		<li><a href="http://www.openaddict.com/page.php?28">Open Addict</a></li>
		<li><a href="http://cutecomputer.wordpress.com/2006/11/12/review-arch-linux-072/">Myself and my Computer</a></li>
		<li><a href="http://www.linuxtechdaily.com/2006/11/review-arch64-archlinux-for-64bit-processors/">Linux Tech Daily</a></li>
		<li><a href="http://www.osnews.com/story.php?news_id=15075">OSNews</a></li>
		<li><a href="http://www.linux-magazine.com/issue/64/Arch_Linux_Review.pdf">Linux Magazine (pdf)</a></li>
		<li><a href="http://michael-and-mary.net/intro/?q=node/260">Michael &amp; Mary</a></li>
		<li><a href="http://osnews.com/story.php?news_id=10142">OSNews</a></li>
		<li><a href="http://osnews.com/story.php?news_id=10047">OSNews</a></li>
		<li><a href="http://os.newsforge.com/os/05/02/14/1722211.shtml?tid=2">NewsForge</a></li>
		<li><a href="http://www.linuxtimes.net/modules.php?name=News&file=article&sid=774">LinuxTimes</a></li>
		<li><a href="http://osnews.com/story.php?news_id=9540">OSNews</a></li>
		<li><a href="http://discuss.extremetech.com/n/mb/display.asp?webtag=extremetech&msg=53648.1">Robert Burns</a></li>
		<li><a href="http://www.linuxlookup.com/modules.php?op=modload&name=Reviews&file=index&req=showcontent&id=58">LinuxLookup</a></li>
		<li><a href="http://www.osnews.com/story.php?news_id=5971">OSNews</a></li>
		<li><a href="http://www.osnews.com/story.php?news_id=4827">OSNews</a></li>
		<li><a href="http://lwn.net/Articles/40952/">LWN</a></li>
		<li><a href="http://www.distrowatch.com/dwres.php?resource=interview-arch">DistroWatch</a></li>
		<li><a href="http://home.nyc.rr.com/computertaijutsu/arch.html">Scott Robbins</a></li>
    </ul>
    <br />
    If you have some press you would like linked, please open a <a href="http://bugs.archlinux.org/">Bug Ticket</a> with the category "web site", and a relevant description.
</div>
<br /><br />
{% endblock %}

