{% extends "base.html" %}

{% block content_left %}
	<div class="box-smalltext">
	    <h3>Latest News</h2>
	    {% for news in news_updates %}
		<span style="float:right;">{{ news.postdate }}</span>
		<a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
		<br />
	    {% endfor %}
		<br />
		<span style="float:left;font-size:x-small"><a href="/news/">More News...</a></span>
		<br />
	</div>
    <br />
	<div class="box-smalltext">
		<table width="100%">
			<tr>
				<td colspan="2"><h3>Recent Updates</h3></td>
			</tr>
		{% for pkg in pkg_updates %}
			<tr>
				<td><a href="{{ pkg.get_absolute_url }}">{{ pkg.pkgname }} {{ pkg.pkgver }}-{{ pkg.pkgrel }}</a></td>
				<td style="text-align:right">{{ pkg.arch.name }}</td>
			</tr>
		{% endfor %}
			<tr>
				<td colspan="2" style="text-align:left;font-size:x-small"><br /><a href="/packages/?sort=-last_update">More Updates...</a></td>
			</tr>
		</table>
	</div>
	<br />
{% endblock %}

{% block content_right %}
	<div id="search">
		<form method="get" action="/packages/">
			<p><b>Package Search:</b>&nbsp;&nbsp;<input type="text" name="q" size="20" maxlength="200" /></p>
		</form>
	</div>
    <br clear="all" />
    <h3>Dev Links:</h3>
    <ul class="links">
        <li><a href="/devel/">Dev Dashboard</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/packages/signoffs/">Signoffs</a></li>
        <li><a href="/todo/">Todos</a></li>
        <li><a href="http://www.archlinux.org/mailman/private/arch-dev/">Archives</a></li>
        <li><a href="http://wiki.archlinux.org/index.php/DeveloperWiki:HOWTO_Be_A_Packager">Package Maintainer's Guide</a></li>
        <li><a href="/devel/profile/">Profile</a></li>
    </ul>
	<h3>Main Site Links:</h3>
	<ul class="links">
		<li><a href="http://bugs.archlinux.org">Bug Tracker</a></li>
		<li><a href="http://repos.archlinux.org/">SVN</a></li>
        <li><a href="http://projects.archlinux.org">Projects</a></li>
        <li><a href="http://www.archlinux.org/developers/">Developer List</a></li>
        <li><a href="http://www.archlinux.org/fellows/">Fellows List</a></li>
	</ul>
{% endblock %}
