{% extends "base.html" %}

{% block content_left %}
	<div class="box-smalltext">
	    <h3>Latest News</h2>
	    {% for news in news_updates %}
		<span style="float:right;">{{ news.postdate }}</span>
		<a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
		<br />
	    {% endfor %}
		<br />
		<span style="float:left;font-size:x-small"><a href="/news/">More News...</a></span>
		<br />
	</div>
    <br />
	<div class="box-smalltext">
		<table width="100%">
			<tr>
				<td colspan="2"><h3>Recent Updates</h3></td>
			</tr>
		{% for pkg in pkg_updates %}
			<tr>
				<td><a href="{{ pkg.get_absolute_url }}">{{ pkg.pkgname }} {{ pkg.pkgver }}-{{ pkg.pkgrel }}</a></td>
				<td style="text-align:right">{{ pkg.category.category }}</td>
			</tr>
		{% endfor %}
			<tr>
				<td colspan="2" style="text-align:left;font-size:x-small"><br /><a href="/packages/search?sort=-last_update">More Updates...</a></td>
			</tr>
		</table>
	</div>
	<br />
	<div class="greybox">
		<h3>Install ISO Releases</h3>
		<table id="releases">
			<tr>
				<td>2007.08-2</td>
				<td><b>Don't Panic</b></td>
				<td style="text-align:right">2007-10-07</td>
			</tr><tr>
				<td>2007.08.1</td>
				<td><b>Don't Panic</b></td>
				<td style="text-align:right">2007-09-10</td>
			</tr><tr>
				<td>2007.08</td>
				<td><b>Don't Panic</b></td>
				<td style="text-align:right">2007-08-05</td>
			</tr><tr>
				<td>2007.05</td>
				<td><b>Duke</b></td>
				<td style="text-align:right">2007-05-17</td>
			</tr><tr>
				<td>0.8</td>
				<td><b>Voodoo</b></td>
				<td style="text-align:right">2007-03-31</td>
			</tr><tr>
				<td>0.7.2</td>
				<td><b>Gimmick</b></td>
				<td style="text-align:right">2006-05-23</td>
			</tr><tr>
				<td>0.7.1</td>
				<td><b>Noodle</b></td>
				<td style="text-align:right">2006-01-05</td>
			</tr><tr>
				<td>0.7</td>
				<td><b>Wombat</b></td>
				<td style="text-align:right">2005-01-24</td>
			</tr><tr>
				<td>0.6</td>
				<td><b>Widget</b></td>
				<td style="text-align:right">2004-03-01</td>
			</tr><tr>
				<td>0.5</td>
				<td><b>Nova</b></td>
				<td style="text-align:right">2003-07-21</td>
			</tr><tr>
				<td>0.4</td>
				<td><b>Dragon</b></td>
				<td style="text-align:right">2002-12-18</td>
			</tr><tr>
				<td>0.3</td>
				<td><b>Firefly</b></td>
				<td style="text-align:right">2002-08-07</td>
			</tr><tr>
				<td>0.2</td>
				<td><b>Vega</b></td>
				<td style="text-align:right">2002-04-17</td>
			</tr><tr>
				<td>0.1</td>
				<td><b>Homer</b></td>
				<td style="text-align:right">2002-03-11</td>
			</tr>
		</table>
	</div>
	<br />
{% endblock %}

{% block content_right %}
	<div id="search">
		<form method="get" action="/packages/search/">
			<p><b>Package Search:</b>&nbsp;&nbsp;<input type="text" name="q" size="20" maxlength="200" /></p>
		</form>
	</div>
    <br />
	<div class="greybox">
		<h3>Package Repositories</h3>
		<table id="repolinks">
		{% for repo in repos %}
			<tr>
				<th><a href="/packages/?repo={{ repo.name }}">{{ repo.name }}</a></th>
				<td>{{ repo.last_update }}</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	<br />
	<h3>Dev Links:</h3>
	<ul class="links">
		<li><a href="/devel/">Dev Dashboard</a></li>
		<li><a href="/developers/">Developer List</a></li>
	</ul>
	<br />
	<h3>Main Site Links:</h3>
	<ul class="links">
		<li><a href="http://bugs.archlinux.org">Bug Tracker</a></li>
		<li><a href="http://archlinux.org/cvs/">CVS</a></li>
        <li><a href="http://projects.archlinux.org">Projects</a></li>
	</ul>
{% endblock %}
