/**
 * fam flag icons CSS.
 */

.fam-flag {
  display: inline-block;
  width: 16px;
  height: 11px;
  line-height: 11px;
  background-image: url("fam.png");
  background-position: -208px -188px;
  background-repeat: no-repeat;
}

.fam-flag-zw { background-position: 0px 0px; }
.fam-flag-zm { background-position: -16px 0px; }
.fam-flag-za { background-position: 0px -11px; }
.fam-flag-yt { background-position: -16px -11px; }
.fam-flag-ye { background-position: -32px 0px; }
.fam-flag-ws { background-position: -32px -11px; }
.fam-flag-wf { background-position: 0px -22px; }
.fam-flag-wales { background-position: -16px -22px; }
.fam-flag-vu { background-position: -32px -22px; }
.fam-flag-vn { background-position: 0px -33px; }
.fam-flag-vi { background-position: -16px -33px; }
.fam-flag-vg { background-position: -32px -33px; }
.fam-flag-ve { background-position: -48px 0px; }
.fam-flag-vc { background-position: -48px -11px; }
.fam-flag-va { background-position: -48px -22px; }
.fam-flag-uz { background-position: -48px -33px; }
.fam-flag-uy { background-position: 0px -44px; }
.fam-flag-us { background-position: -16px -44px; }
.fam-flag-um { background-position: -16px -44px; }
.fam-flag-ug { background-position: -32px -44px; }
.fam-flag-ua { background-position: -48px -44px; }
.fam-flag-tz { background-position: -64px 0px; }
.fam-flag-tw { background-position: -64px -11px; }
.fam-flag-tv { background-position: -64px -22px; }
.fam-flag-tt { background-position: -64px -33px; }
.fam-flag-tr { background-position: -64px -44px; }
.fam-flag-to { background-position: 0px -55px; }
.fam-flag-tn { background-position: -16px -55px; }
.fam-flag-tm { background-position: -32px -55px; }
.fam-flag-tl { background-position: -48px -55px; }
.fam-flag-tk { background-position: -64px -55px; }
.fam-flag-tj { background-position: 0px -66px; }
.fam-flag-th { background-position: -16px -66px; }
.fam-flag-tg { background-position: -32px -66px; }
.fam-flag-tf { background-position: -48px -66px; }
.fam-flag-td { background-position: -64px -66px; }
.fam-flag-tc { background-position: -80px 0px; }
.fam-flag-sz { background-position: -80px -11px; }
.fam-flag-sy { background-position: -80px -22px; }
.fam-flag-sx { background-position: -80px -33px; }
.fam-flag-sv { background-position: -80px -44px; }
.fam-flag-st { background-position: -80px -55px; }
.fam-flag-ss { background-position: -80px -66px; }
.fam-flag-sr { background-position: 0px -77px; }
.fam-flag-so { background-position: -16px -77px; }
.fam-flag-sn { background-position: -32px -77px; }
.fam-flag-sm { background-position: -48px -77px; }
.fam-flag-sl { background-position: -64px -77px; }
.fam-flag-sk { background-position: -80px -77px; }
.fam-flag-si { background-position: -96px 0px; }
.fam-flag-sh { background-position: -96px -11px; }
.fam-flag-sg { background-position: -96px -22px; }
.fam-flag-se { background-position: -96px -33px; }
.fam-flag-sd { background-position: -96px -44px; }
.fam-flag-scotland { background-position: -96px -55px; }
.fam-flag-sc { background-position: -96px -66px; }
.fam-flag-sb { background-position: -96px -77px; }
.fam-flag-sa { background-position: 0px -88px; }
.fam-flag-rw { background-position: -16px -88px; }
.fam-flag-ru { background-position: -32px -88px; }
.fam-flag-rs { background-position: -48px -88px; }
.fam-flag-ro { background-position: -64px -88px; }
.fam-flag-qa { background-position: -80px -88px; }
.fam-flag-py { background-position: -96px -88px; }
.fam-flag-pw { background-position: 0px -99px; }
.fam-flag-pt { background-position: -16px -99px; }
.fam-flag-ps { background-position: -32px -99px; }
.fam-flag-pr { background-position: -48px -99px; }
.fam-flag-pn { background-position: -64px -99px; }
.fam-flag-pm { background-position: -80px -99px; }
.fam-flag-pl { background-position: -96px -99px; }
.fam-flag-pk { background-position: -112px 0px; }
.fam-flag-ph { background-position: -112px -11px; }
.fam-flag-pg { background-position: -112px -22px; }
.fam-flag-pf { background-position: -112px -33px; }
.fam-flag-pe { background-position: -112px -44px; }
.fam-flag-pa { background-position: -112px -55px; }
.fam-flag-om { background-position: -112px -66px; }
.fam-flag-nz { background-position: -112px -77px; }
.fam-flag-nu { background-position: -112px -88px; }
.fam-flag-nr { background-position: -112px -99px; }
.fam-flag-no { background-position: 0px -110px; }
.fam-flag-bv { background-position: 0px -110px; }
.fam-flag-sj { background-position: 0px -110px; }
.fam-flag-nl { background-position: -16px -110px; }
.fam-flag-ni { background-position: -32px -110px; }
.fam-flag-ng { background-position: -48px -110px; }
.fam-flag-nf { background-position: -64px -110px; }
.fam-flag-ne { background-position: -80px -110px; }
.fam-flag-nc { background-position: -96px -110px; }
.fam-flag-na { background-position: -112px -110px; }
.fam-flag-mz { background-position: -128px 0px; }
.fam-flag-my { background-position: -128px -11px; }
.fam-flag-mx { background-position: -128px -22px; }
.fam-flag-mw { background-position: -128px -33px; }
.fam-flag-mv { background-position: -128px -44px; }
.fam-flag-mu { background-position: -128px -55px; }
.fam-flag-mt { background-position: -128px -66px; }
.fam-flag-ms { background-position: -128px -77px; }
.fam-flag-mr { background-position: -128px -88px; }
.fam-flag-mq { background-position: -128px -99px; }
.fam-flag-mp { background-position: -128px -110px; }
.fam-flag-mo { background-position: 0px -121px; }
.fam-flag-mn { background-position: -16px -121px; }
.fam-flag-mm { background-position: -32px -121px; }
.fam-flag-ml { background-position: -48px -121px; }
.fam-flag-mk { background-position: -64px -121px; }
.fam-flag-mh { background-position: -80px -121px; }
.fam-flag-mg { background-position: -96px -121px; }
.fam-flag-me { background-position: 0px -132px; width: 16px; height: 12px; }
.fam-flag-md { background-position: -112px -121px; }
.fam-flag-mc { background-position: -128px -121px; }
.fam-flag-ma { background-position: -16px -132px; }
.fam-flag-ly { background-position: -32px -132px; }
.fam-flag-lv { background-position: -48px -132px; }
.fam-flag-lu { background-position: -64px -132px; }
.fam-flag-lt { background-position: -80px -132px; }
.fam-flag-ls { background-position: -96px -132px; }
.fam-flag-lr { background-position: -112px -132px; }
.fam-flag-lk { background-position: -128px -132px; }
.fam-flag-li { background-position: -144px 0px; }
.fam-flag-lc { background-position: -144px -11px; }
.fam-flag-lb { background-position: -144px -22px; }
.fam-flag-la { background-position: -144px -33px; }
.fam-flag-kz { background-position: -144px -44px; }
.fam-flag-ky { background-position: -144px -55px; }
.fam-flag-kw { background-position: -144px -66px; }
.fam-flag-kr { background-position: -144px -77px; }
.fam-flag-kp { background-position: -144px -88px; }
.fam-flag-kn { background-position: -144px -99px; }
.fam-flag-km { background-position: -144px -110px; }
.fam-flag-ki { background-position: -144px -121px; }
.fam-flag-kh { background-position: -144px -132px; }
.fam-flag-kg { background-position: 0px -144px; }
.fam-flag-ke { background-position: -16px -144px; }
.fam-flag-jp { background-position: -32px -144px; }
.fam-flag-jo { background-position: -48px -144px; }
.fam-flag-jm { background-position: -64px -144px; }
.fam-flag-je { background-position: -80px -144px; }
.fam-flag-it { background-position: -96px -144px; }
.fam-flag-is { background-position: -112px -144px; }
.fam-flag-ir { background-position: -128px -144px; }
.fam-flag-iq { background-position: -144px -144px; }
.fam-flag-io { background-position: -160px 0px; }
.fam-flag-in { background-position: -160px -11px; }
.fam-flag-im { background-position: -160px -22px; width: 16px; height: 9px; }
.fam-flag-il { background-position: -160px -31px; }
.fam-flag-ie { background-position: -160px -42px; }
.fam-flag-id { background-position: -160px -53px; }
.fam-flag-hu { background-position: -160px -64px; }
.fam-flag-ht { background-position: -160px -75px; }
.fam-flag-hr { background-position: -160px -86px; }
.fam-flag-hn { background-position: -160px -97px; }
.fam-flag-hk { background-position: -160px -108px; }
.fam-flag-gy { background-position: -160px -119px; }
.fam-flag-gw { background-position: -160px -130px; }
.fam-flag-gu { background-position: -160px -141px; }
.fam-flag-gt { background-position: 0px -155px; }
.fam-flag-gs { background-position: -16px -155px; }
.fam-flag-gr { background-position: -32px -155px; }
.fam-flag-gq { background-position: -48px -155px; }
.fam-flag-gp { background-position: -64px -155px; }
.fam-flag-gn { background-position: -80px -155px; }
.fam-flag-gm { background-position: -96px -155px; }
.fam-flag-gl { background-position: -112px -155px; }
.fam-flag-gi { background-position: -128px -155px; }
.fam-flag-gh { background-position: -144px -155px; }
.fam-flag-gg { background-position: -160px -155px; }
.fam-flag-ge { background-position: -176px 0px; }
.fam-flag-gd { background-position: -176px -11px; }
.fam-flag-gb { background-position: -176px -22px; }
.fam-flag-ga { background-position: -176px -33px; }
.fam-flag-fr { background-position: -176px -44px; }
.fam-flag-gf { background-position: -176px -44px; }
.fam-flag-re { background-position: -176px -44px; }
.fam-flag-mf { background-position: -176px -44px; }
.fam-flag-bl { background-position: -176px -44px; }
.fam-flag-fo { background-position: -176px -55px; }
.fam-flag-fm { background-position: -176px -66px; }
.fam-flag-fk { background-position: -176px -77px; }
.fam-flag-fj { background-position: -176px -88px; }
.fam-flag-fi { background-position: -176px -99px; }
.fam-flag-fam { background-position: -176px -110px; }
.fam-flag-eu { background-position: -176px -121px; }
.fam-flag-et { background-position: -176px -132px; }
.fam-flag-es { background-position: -176px -143px; }
.fam-flag-er { background-position: -176px -154px; }
.fam-flag-england { background-position: 0px -166px; }
.fam-flag-eh { background-position: -16px -166px; }
.fam-flag-eg { background-position: -32px -166px; }
.fam-flag-ee { background-position: -48px -166px; }
.fam-flag-ec { background-position: -64px -166px; }
.fam-flag-dz { background-position: -80px -166px; }
.fam-flag-do { background-position: -96px -166px; }
.fam-flag-dm { background-position: -112px -166px; }
.fam-flag-dk { background-position: -128px -166px; }
.fam-flag-dj { background-position: -144px -166px; }
.fam-flag-de { background-position: -160px -166px; }
.fam-flag-cz { background-position: -176px -166px; }
.fam-flag-cy { background-position: 0px -177px; }
.fam-flag-cx { background-position: -16px -177px; }
.fam-flag-cw { background-position: -32px -177px; }
.fam-flag-cv { background-position: -48px -177px; }
.fam-flag-cu { background-position: -64px -177px; }
.fam-flag-cs { background-position: -80px -177px; }
.fam-flag-cr { background-position: -96px -177px; }
.fam-flag-co { background-position: -112px -177px; }
.fam-flag-cn { background-position: -128px -177px; }
.fam-flag-cm { background-position: -144px -177px; }
.fam-flag-cl { background-position: -160px -177px; }
.fam-flag-ck { background-position: -176px -177px; }
.fam-flag-ci { background-position: -192px 0px; }
.fam-flag-cg { background-position: -192px -11px; }
.fam-flag-cf { background-position: -192px -22px; }
.fam-flag-cd { background-position: -192px -33px; }
.fam-flag-cc { background-position: -192px -44px; }
.fam-flag-catalonia { background-position: -192px -55px; }
.fam-flag-ca { background-position: -192px -66px; }
.fam-flag-bz { background-position: -192px -77px; }
.fam-flag-by { background-position: -192px -88px; }
.fam-flag-bw { background-position: -192px -99px; }
.fam-flag-bt { background-position: -192px -110px; }
.fam-flag-bs { background-position: -192px -121px; }
.fam-flag-br { background-position: -192px -132px; }
.fam-flag-bq { background-position: -192px -143px; }
.fam-flag-bo { background-position: -192px -154px; }
.fam-flag-bn { background-position: -192px -165px; }
.fam-flag-bm { background-position: -192px -176px; }
.fam-flag-bj { background-position: 0px -188px; }
.fam-flag-bi { background-position: -16px -188px; }
.fam-flag-bh { background-position: -32px -188px; }
.fam-flag-bg { background-position: -48px -188px; }
.fam-flag-bf { background-position: -64px -188px; }
.fam-flag-be { background-position: -80px -188px; }
.fam-flag-bd { background-position: -96px -188px; }
.fam-flag-bb { background-position: -112px -188px; }
.fam-flag-ba { background-position: -128px -188px; }
.fam-flag-az { background-position: -144px -188px; }
.fam-flag-ax { background-position: -160px -188px; }
.fam-flag-aw { background-position: -176px -188px; }
.fam-flag-au { background-position: -192px -188px; }
.fam-flag-hm { background-position: -192px -188px; }
.fam-flag-at { background-position: -208px 0px; }
.fam-flag-as { background-position: -208px -11px; }
.fam-flag-ar { background-position: -208px -22px; }
.fam-flag-ao { background-position: -208px -33px; }
.fam-flag-an { background-position: -208px -44px; }
.fam-flag-am { background-position: -208px -55px; }
.fam-flag-al { background-position: -208px -66px; }
.fam-flag-ai { background-position: -208px -77px; }
.fam-flag-ag { background-position: -208px -88px; }
.fam-flag-af { background-position: -208px -99px; }
.fam-flag-ae { background-position: -208px -110px; }
.fam-flag-ad { background-position: -208px -121px; }
.fam-flag-np { background-position: -208px -132px; width: 9px; }
.fam-flag-ch { background-position: -208px -143px; width: 11px; }
