




/*
     FILE ARCHIVED ON 3:57:32 Feb 12, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:20:44 Feb 2, 2012.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
 *  ARCH LINUX DJANGO (MAIN SITE)
 *
 *  Stylesheet for printing
 */

/* general styling */
body { font: normal 100% sans-serif; }
#content { font-size: 0.812em; }
#archnavbarmenu, #archdev-navbar, .admin-actions { display: none; }

