{% extends "base.html" %}
{% block title %}Arch Linux - News: {% if form.instance.id %}Edit{% else %}Add{% endif %} Article{% endblock %}

{% block content %}
<div id="news-add-article" class="box">

    {% if form.instance.id %}
    <h2>News: Edit Article</h2>
    {% else %}
    <h2>News: Add Article</h2>
    {% endif %}

    <form id="newsform" method="post">{% csrf_token %}
        <fieldset>
            {{ form.as_p }}
        </fieldset>
        {% if form.instance.id %}
        <p><label></label> <input title="Save changes" type="submit" value="Save" /></p>
        {% else %}
        <p><label></label> <input title="Publish this article" type="submit" value="Publish" /></p>
        {% endif %}
    </form>

</div>
{% endblock %}
