{% extends "base.html" %}
{% block title %}Arch Linux - News{% endblock %}

{% block content %}
<div id="news-article-list" class="box">

    <h2>News Archives</h2>

    {% if perms.main.add_news %}
    <ul class="admin-actions">
        <li><a href="/news/add/" title="Add a news item">Add News Item</a></li>
    </ul>
    {% endif %}

    {% include "news/paginator.html" %}

    <table id="article-list" class="results">
        <thead>
            <tr>
                <th>Published</th>
                <th>Title</th>
                <th>Author</th>
                {% if perms.main.change_news %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in news_list %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td>{{ item.postdate|date }}</td>
                <td class="wrap"><a href="{{ item.get_absolute_url }}"
                        title="View: {{ item.title }}">{{ item.title }}</a></td>
                <td>{{ item.author.get_full_name }}</td>
                {% if perms.main.change_news %}
                <td>
                    <a href="/news/edit/{{ item.id }}/"
                        title="Edit: {{ item.title }}">Edit</a>
                    {% endif %}
                    {% if perms.main.delete_news %}
                    &nbsp;&nbsp;<a href="/news/delete/{{ item.id }}/"
                        title="Delete: {{ item.title }}">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "news/paginator.html" %}

</div>
{% endblock %}
