{% extends "base.html" %}
{% load markup %}
{% block title %}Arch Linux - News: {{ news.title }}{% endblock %}

{% block content %}
<div class="news-article box">

    <h2>News: {{ news.title }}</h2>

    {% if perms.news.change_news %}
    <ul class="admin-actions">
        <li><a href="edit/" title="Edit this article">Edit News Item</a></li>
        {% if perms.news.delete_news %}
        <li><a href="delete/" title="Delete this article">Delete News Item</a></li>
        {% endif %}
    </ul>
    {% endif %}

    <p class="article-info">{{ news.postdate|date }} - {{ news.author.get_full_name }}</p>

    <div class="article-content">{{ news.content|markdown }}</div>

</div>
{% endblock %}
