/*
 * Font sizing based on 16px browser defaults (use em):
 *   14px = 0.875em
 *   13px = 0.812em
 *   12px = 0.75em
 *   11px = 0.6875em
 */

/*
 * ARCH GLOBAL NAVBAR
 * We're forcing all generic selectors with !important
 * to help prevent other stylesheets from interfering.
 */

/* container for the entire bar */
header.arch-main { min-height: 40px !important; padding: 10px 15px !important; background: #333 !important; border-bottom: 5px #08c solid !important; }
#arch-menu-toggle { display: none !important; }

#arch-logo { float: left !important; margin: 0 !important; padding: 0 !important; height: 40px !important; width: 190px !important; text-indent:-9999px !important; background: url(archnavbar/archlogo.png) no-repeat !important; }

.arch-hamburger { display: none !important; float: right !important; top: 0 !important; width: 28px !important; height: 100% !important; padding: 13px 5px !important; cursor: pointer !important; }
.arch-hamburger span { display: block !important; height: 2px !important; margin-bottom: 5px !important; background: #888 !important; }
.arch-hamburger:hover span { background: white !important; }

/* display the list inline, float it to the right and style it */
nav.arch-main ul { display: block !important; list-style: none !important; margin: 0 !important; padding: 0 !important; font-size: 0px !important;text-align: right !important; }

/* style the links */
nav.arch-main li { display: inline-block !important; font-size: 14px !important; font-family: sans-serif !important; line-height: 14px !important; padding: 14px 10px 0px !important; }
nav.arch-main li a { display: block !important; color: #999; font-weight: bold !important; text-decoration: none !important; }
nav.arch-main li a:hover { color: white !important; }

@media (-webkit-min-device-pixel-ratio: 1.2), (min--moz-device-pixel-ratio: 1.2), (-o-min-device-pixel-ratio: 2/1) {
    #arch-logo { background: url(archnavbar/archlogo.svg) no-repeat !important; background-size: 100% !important; }
}

@media (max-width: 750px) and (min-width: 620px) {
    #arch-logo { width: 40px !important; background: url(archnavbar/archicon.png) no-repeat !important; }
    @media (-webkit-min-device-pixel-ratio: 1.2), (min--moz-device-pixel-ratio: 1.2), (-o-min-device-pixel-ratio: 2/1) {
        #arch-logo { background: url(archnavbar/archicon.svg) no-repeat !important; background-size: 100% !important; }
    }
}

@media (max-width: 620px) {
    header.arch-main { padding: 0 !important; }
    header.arch-main .top-wrapper { padding: 10px !important; min-height: 40px !important;}

    .arch-hamburger { display: block !important;}

    nav.arch-main { width: 100% !important; max-height: 0 !important; overflow: hidden !important; transition: max-height 0.5s !important;}
    nav.arch-main ul { padding-bottom: 0.5rem !important; }
    nav.arch-main li { display: block !important; padding: 0 !important; }
    nav.arch-main li a { text-align: left !important; padding: 0.5em 0 0.5em 1em !important }
    nav.arch-main li:hover a { background: #3c3c3c !important; }

    #arch-menu-toggle:checked ~ nav.arch-main { max-height: 500px !important; }
}

/* END ARCH GLOBAL NAVBAR */

/* highlight current website in the navbar */
nav.arch-main ul[data-active="anb-home"] li#anb-home a,
nav.arch-main ul[data-active="anb-packages"] li#anb-packages a,
nav.arch-main ul[data-active="anb-download"] li#anb-download a {
    color: white !important;
}

@media (max-width: 840px) and (min-width: 620px) {
    nav.arch-main ul[data-active="anb-home"] li#anb-home,
    nav.arch-main ul[data-active="anb-packages"] li#anb-packages,
    nav.arch-main ul[data-active="anb-download"] li#anb-download {
        display: none !important;
    }
}

/* simple reset */
* {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

/* general styling */
body {
    min-width: 365px;
    background: #f6f9fc;
    color: #222;
    font: normal 81.2% sans-serif;
    overflow-y: scroll;
}

p {
    margin: .33em 0 1em;
}

ol,
ul {
    margin-bottom: 1em;
    padding-left: 2em;
}

    ul {
        list-style: square;
    }

code {
    font: 1.2em monospace;
    background: #ffd;
    padding: 0.25em 0.5em;
}

pre {
    font: 1.2em monospace;
    border: 1px solid #bdb;
    background: #dfd;
    padding: 0.5em;
    margin: 1em;
}

    pre code {
        display: block;
        background: none;
        overflow: auto;
    }

blockquote {
    margin: 1.5em 2em;
}

input {
    vertical-align: middle;
}

select[multiple] {
    padding: 1px 0;
}

    select[multiple] option {
        padding: 0 0.5em 0 0.3em;
    }

input[type=submit] {
    padding: 0 0.6em;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

hr {
    border: none;
    border-top: 1px solid #888;
}

img {
    border: 0;
}

/* link style */
a {
    text-decoration: none;
}

    a:link,
    th a:visited {
        color: #07b;
    }

    a:visited {
        color: #666;
    }

    a:hover {
        color: #666;
    }

    a:active {
        color: #e90;
    }

/* special anchor elements */
a.headerlink {
    visibility: hidden;
    padding-left: 0.5em;
}

h3:hover > a.headerlink {
    visibility: visible;
}

/* headings */
h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #888;
}

h3 {
    font-size: 1.25em;
    margin-top: .5em;
}

h4 {
    font-size: 1.15em;
    margin-top: 1em;
}

h5 {
    font-size: 1em;
    margin-top: 1em;
}

/* general layout */
#main-content {
    width: 95%;
    margin: 0 auto;
    text-align: left;
}

.home-wrapper {
    display: grid;
    justify-content: space-between;
    align-items: start;
    grid-template-areas:
        "intro"
        "packages"
        "news"
        "sidebar";
    column-gap: 2.5%;
    grid-template-columns: minmax(250px, max-content);
}

    .home-wrapper section.intro {
        grid-area: intro;
    }

    .home-wrapper section.packages {
        grid-area: packages;
    }

    .home-wrapper section.news {
        grid-area: news;
    }

    .home-wrapper section.nav-sidebar {
        grid-area: sidebar;
    }

@media (min-width: 700px) {
    .home-wrapper {
        grid-template-columns: minmax(40px, max-content) 300px;
        grid-template-areas:
        "intro      packages"
        "news       packages"
        "news       sidebar"
        "news       ."
    }
}

.box {
    margin-bottom: 1.5em;
    padding: 0.65em;
    background: #ecf2f5;
    border: 1px solid #bcd;
}

footer {
    clear: both;
    margin: 1em auto;
    width: 95%;
}

    footer p {
        margin: 0;
        text-align: center;
        font-size: 0.85em;
    }

/* alignment */
div.center,
table.center,
img.center {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

p.center,
td.center,
th.center {
    text-align: center;
}

/* table generics */
table {
    min-width: 100%;
    border-collapse: collapse;
}

    table .wrap {
        white-space: normal;
    }

th,
td {
    white-space: nowrap;
    text-align: left;
}

    th {
        vertical-align: middle;
        font-weight: bold;
    }

    td {
        vertical-align: top;
    }

/* table pretty styles */
table.pretty {
    width: auto;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    border-collapse: collapse;
    border: 1px solid #bbb;
}

    .pretty th {
        padding: 0.35em;
        background: #eee;
        border: 1px solid #bbb;
    }

    .pretty td {
        padding: 0.35em;
        border: 1px dotted #bbb;
    }

table.compact {
    width: auto;
}

    .compact td {
        padding: 0.25em 0 0.25em 1.5em;
    }

/* forms and input styling */
form p {
    margin: 0.5em 0;
}

fieldset {
    border: 0;
}

label {
    width: 12em;
    vertical-align: top;
    display: inline-block;
    font-weight: bold;
}

legend {
    display: none;
}

label:empty {
    display: none;
}

input[type=text],
input[type=password],
textarea {
    padding: 0.10em;
}

/* archdev navbar */
nav.arch-dev {
    margin: 1.5em 0;
}

    nav.arch-dev ul {
        list-style: none;
        margin: -0.5em 0;
        padding: 0.5em;
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: center;
        background: #ecf2f5;
        border: 1px solid #bcd;
        max-width: max-content;
    }

    nav.arch-dev li {
        margin: 0;
        padding: 0.5em;
        font-size: 0.9em;
    }

        nav.arch-dev li a {
            color: #07b;
        }

@media (min-width: 780px) {
    nav.arch-dev ul {
        justify-content: flex-start;
    }
}

/* error/info messages (x pkg is already flagged out-of-date, etc) */
.sys-message {
    width: 35em;
    text-align: center;
    margin: 1em auto;
    padding: 0.5em;
    background: #fff;
    border: 1px solid #f00;
}

    .sys-message p {
        margin: 0;
    }

ul.errorlist {
    color: red;
}

/* JS sorting via tablesorter */
table th.tablesorter-header {
    padding-right: 20px;
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table thead th.tablesorter-headerAsc {
    background-color: #e4eeff;
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

table thead th.tablesorter-headerDesc {
    background-color: #e4eeff;
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

table thead th.sorter-false {
    background-image: none;
    cursor: default;
}

.tablesorter-header:focus {
    outline: none;
}

/**
 *  PAGE SPECIFIC STYLES
 */

/* home: introduction */
.intro p.readmore {
    margin: -0.5em 0 0 0;
    font-size: .9em;
    text-align: right;
}

/* home: news */
.news * {
    margin: 0;
}

.news section {
    margin-top: 1.5em;
}

    .news header {
        display: grid;
        justify-content: space-between;
        align-items: end;
        grid-template-columns: auto auto;
    }

.news article header {
    margin-top: 1em;
    border-bottom: 1px dotted #bbb;
    padding-bottom: 0.1em;
}

    .news article header h4 {
        font-size: 1em;
        margin: 0;
    }

    .news article header p {
        font-size: 0.85em;
        margin: 0;
    }

.news article div p {
    margin: 0.5em 0;
}

@media (max-width: 900px) {
    .news article header {
        grid-template-columns: auto;
    }
}

/* home: arrowed headings */
h3.arrow {
    position: relative;
    background: #1794D1;
}

h3.arrow a {
    display: block;
    padding: 0.1em 0.5em;
    color: white;
}

h3.arrow:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 6px #1794D1;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

/* old news table styling */
.news table {
    margin-top: 1em;
    font-weight: bold;
}

    .news table th {
        padding: 0.5em 0.5em 0.5em 0;
    }

    .news table td {
        padding: 0.5em 0;
    }

    .news table tr {
        border-top: 1px dotted #bbb;
        border-bottom: 1px dotted #bbb;
    }

/* home: pkgsearch box */
#pkgsearch {
    padding: 1em;
    background: #3ad;
    color: #fff;
    border: 1px solid #08b;
}

    #pkgsearch label {
        width: auto;
        padding: 0.1em 0;
    }

    #pkgsearch input {
        width: 10em;
        float: right;
        font-size: 1em;
        color: #000;
        background: #fff;
        border: 1px solid #09c;
    }

    .pkgsearch-typeahead {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        padding: 0.15em 0.1em;
        margin: 0;
        min-width: 10em;
        font-size: 1em;
        text-align: left;
        list-style: none;
        background-color: #f6f9fc;
        border: 1px solid #09c;
    }

        .pkgsearch-typeahead li a {
            color: #000;
            display: block;
        }

        .pkgsearch-typeahead li:hover a,
        .pkgsearch-typeahead li.active a {
            color: #07b;
            background: #ecf2f5;
        }

/* home: recent pkg updates */
#pkg-updates h3 {
    margin: 0 0 0.3em;
}

    #pkg-updates .more {
        font-weight: normal;
    }

    #pkg-updates > a {
        float: right;
        margin: -2em 0 0 0;
    }

    #pkg-updates table {
        margin: 0;
    }

    #pkg-updates td.pkg-name {
        white-space: normal;
    }

    #pkg-updates td.pkg-arch {
        text-align: right;
    }

    #pkg-updates span.testing {
        font-style: italic;
    }

    #pkg-updates span.staging {
        font-style: italic;
        color: #ff8040;
    }

/* home: sidebar navigation */
.nav-sidebar ul {
    list-style: none;
    margin: 0.5em 0 0.5em 1em;
    padding: 0;
}

/* home: sidebar components (navlist, sponsors, pkgsearch, etc) */
div.widget {
    margin-bottom: 1.5em;
}

/* feeds page */
icon.rss {
    padding-right: 1.3em;
    background: url(rss.svg) top right no-repeat;
    background-size: auto 66%;
    background-position: right center;
}

/* artwork: logo images */
img.inverted {
    background: #333;
    padding: 0;
}

div.imagelist img {
    display: inline;
    margin: 0.75em;
}

/* news: article pages */
div.news-article .article-info {
    margin: 0;
    color: #999;
}

#news-preview {
    display: none;
}

/* download page */
#arch-downloads h3 {
    border-bottom: 1px dotted #bbb;
}

/* pkglists/devlists */
.table-wrapper {
    overflow-x: auto;
    width: 100%;
}

table.results {
    font-size: 0.846em;
    border-top: 1px dotted #999;
    border-bottom: 1px dotted #999;
}

    .results th {
        padding: 0.5em 1em 0.25em 0.25em;
        border-bottom: 1px solid #999;
        white-space: nowrap;
        background-color:#fff;
    }

    .results td {
        padding: .3em 1em .3em 3px;
    }

    .results tr:nth-child(odd) {
        background: #fff;
    }

    .results tr:nth-child(even) {
        background: #e4eeff;
    }

    .results .flagged {
        color: red;
    }

    .results tr.empty td {
        text-align: center;
    }

@media (max-width: 550px) {
    table.results {
        min-width: 550px;
    }
}

.table-nav {
    display: grid;
    justify-content: space-between;
    align-items: end;
    grid-template-columns: auto auto;
    padding: 0.5em 0;
}

.table-nav > span span + span {
    margin-left: 0.5em;
}

@media (max-width: 500px) {
    .table-nav {
        grid-template-columns: auto;
        grid-row-gap: 0.2em;
    }
}

/* pkglist: results navigation */
.pkglist-stats {
    font-size: 0.85em;
    position: relative;
}

.pkglist-nav {
    position: absolute;
    top: 0;
    right: 0;
}

    .pkglist-nav .prev {
        margin-right: 1em;
    }

@media (max-width: 420px) {
    .pkglist-stats .pkglist-nav {
        position: relative;
    }

    .pkglist-stats p {
        margin: 0;
    }

    #pkglist-results-form input {
        width: 100%;
        margin: 0.2em 0;
    }
}

/* search fields and other filter selections */
.filter-criteria .grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    grid-template-rows: auto;
    grid-column-gap: 1em;
}

.filter-criteria label {
    width: auto;
    font-weight: bold;
    font-size: 0.75em;
    white-space: nowrap;
}

@media (min-width: 700px) and (max-width: 1100px) {
    .filter-criteria .fill-h {
        grid-row: 1 / -1;
    }

    .filter-criteria .span-3 {
        grid-column: 3 / 6;
    }

    #package-search {
        grid-template-rows: auto auto;
    }
}

@media (max-width: 700px) {
    .filter-criteria .grid {
        grid-template-columns: auto;
        grid-auto-flow: row;
        grid-row-gap: 0.75em;
        margin-top: 0.5em;
    }

    .filter-criteria .grid div * {
        width: 100%;
        box-sizing: border-box;
    }

    .filter-criteria .grid.small {
        grid-template-columns: auto auto auto auto ;
    }

    .filter-criteria .grid input[type=checkbox] {
        width: auto;
    }

    .filter-criteria .full-w {
        grid-column: 1 / -1;
    }
}

/* pkgdetails: details links that float on the right */
#detailslinks {
    float: right;
    margin: 3.4em 0.8em 0 0;
}

    #detailslinks h4 {
        margin-top: 0;
        margin-bottom: 0.25em;
    }

    #detailslinks ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        font-size: 0.846em;
    }

    #detailslinks > div {
        padding: 0.5em;
        margin-bottom: 1em;
        background: #eee;
        border: 1px solid #bbb;
    }

#actionlist input {
    width: 100%;
}

@media (max-width: 800px) {
    #detailslinks {
        margin: 0;
        float: none;
    }
    #detailslinks > div {
        background: #ecf2f5;
        border: 1px solid #bcd;
    }
    #actionlist h4 {
        font-size: 1.5em;
    }
    #actionlist input {
        width: auto;
    }
}

#pkgdetails #actionlist .flagged {
    color: red;
    font-size: 0.9em;
    font-style: italic;
}

#pkgdetails .table-wrapper {
    width: auto;
}

/* pkgdetails: pkg info */
#pkgdetails #pkginfo {
    width: auto;
    min-width: auto;
}

    #pkgdetails #pkginfo td {
        padding: 0.25em 0 0.25em 1.5em;
    }

    #pkgdetails #pkginfo .userdata {
        font-size: 0.85em;
        padding: 0.5em;
    }


#id_website {
    display: none;
}

/* pkgdetails: deps, required by and file lists */
#pkgdetails #metadata {
    clear: both;
}

#pkgdetails #metadata h3 {
    background: #555;
    color: #fff;
    font-size: 1em;
    margin-bottom: 0.5em;
    padding: 0.2em 0.35em;
}

#pkgdetails #metadata ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#pkgdetails #metadata li {
    padding-left: 0.5em;
}

#pkgdetails #metadata p {
    padding-left: 0.5em;
}

#pkgdetails #metadata .message {
    font-style: italic;
}

#pkgdetails #metadata br {
    clear: both;
}

#pkgdetails #pkgdeps {
    float: left;
    width: 48%;
    margin-right: 2%;
}

#pkgdetails #metadata .virtual-dep,
#pkgdetails #metadata .testing-dep,
#pkgdetails #metadata .staging-dep,
#pkgdetails #metadata .opt-dep,
#pkgdetails #metadata .make-dep,
#pkgdetails #metadata .check-dep,
#pkgdetails #metadata .dep-desc {
    font-style: italic;
}

#pkgdetails #pkgreqs {
    float: left;
    width: 50%;
}

#pkgdetails #pkgfiles {
    clear: left;
    padding-top: 1em;
}

#pkgfilelist li.d {
    color: #666;
}

@media (max-width: 500px) {
    #pkgdetails #pkgdeps, #pkgdetails #pkgreqs {
        float: none;
        width: 100%;
    }
}

/* mirror stuff */
table td.country {
    white-space: normal;
}

#list-generator div ul {
    list-style: none;
    display: inline;
    padding-left: 0;
}

    #list-generator div ul li {
        display: inline;
    }

.visualize-mirror .axis path,
.visualize-mirror .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.visualize-mirror .url-dot {
    stroke: #000;
}

.visualize-mirror .url-line {
    fill: none;
    stroke-width: 1.5px;
}

/* dev/TU biographies */
#arch-bio-toc {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

    #arch-bio-toc a {
        white-space: nowrap;
    }

.arch-bio-entry {
    width: 75%;
    margin: 0 auto;
}

    .arch-bio-entry td.pic {
        vertical-align: top;
        padding-right: 15px;
        padding-top: 2.25em;
    }

        .arch-bio-entry td.pic img {
            padding: 4px;
            border: 1px solid #ccc;
        }

    .arch-bio-entry td h3 {
        border-bottom: 1px dotted #ccc;
        margin-bottom: 0.5em;
    }

    .arch-bio-entry table.bio {
        margin-bottom: 2em;
    }

        .arch-bio-entry table.bio th {
            color: #666;
            font-weight: normal;
            text-align: right;
            padding-right: 0.5em;
            vertical-align: top;
            white-space: nowrap;
        }

        .arch-bio-entry table.bio td {
            width: 100%;
            padding-bottom: 0.25em;
            white-space: normal;
        }

@media (max-width: 500px) {
    .arch-bio-entry td {
        display: block;
    }
    .arch-bio-entry .pic, .arch-bio-entry h3 {
        text-align: center;
    }
}

/* tables rows: highlight on mouse-vover */
table.pretty tr:hover,
table.results tr:hover {
    background: #ffd;
}

/* dev dashboard: admin actions (add news items, todo list, etc) */
ul.admin-actions {
    float: right;
    list-style: none;
    margin-top: -2.5em;
}

    ul.admin-actions li {
        display: inline;
        padding-left: 0.5em;
    }

/* colored yes/no type values */
.complete,
.signoff-yes,
#key-status .signed-yes,
#release-list .available-yes {
    color: green;
}

.incomplete,
.signoff-no,
.signed-no,
.available-no {
    color: red;
}

.inprogress,
.signoff-bad {
    color: darkorange;
}

/* todo lists (public and private) */
.todo-info {
    color: #999;
    border-bottom: 1px dotted #bbb;
}

.todo-description {
    margin-top: 1em;
    padding-left: 2em;
    max-width: 900px;
}

.todo-pkgbases {
    border-top: 1px dotted #bbb;
}

.todo-list h4 {
    margin-top: 0;
    margin-bottom: 0.4em;
}

/* dev: signoff page */
ul.signoff-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.signoff-yes {
    font-weight: bold;
}

.signoff-disabled {
    color: gray;
}

/* visualizations page */
.visualize-buttons {
    margin: 0.5em 0.33em;
}

.visualize-chart {
    position: relative;
    height: 500px;
    margin: 0.33em;
}

#visualize-archrepo .treemap-cell {
    border: solid 1px white;
    overflow: hidden;
    position: absolute;
}

    #visualize-archrepo .treemap-cell span {
        padding: 3px;
        font-size: 0.85em;
        line-height: 1em;
    }

#visualize-keys svg {
    width: 100%;
    height: 100%;
}

/* releases */
#release-table th:first-of-type {
    width: 30px;
}

/* itemprops */
.itemprop {
    display: none;
}

#donations img {
    max-width: 100%;
}

.general-form fieldset p textarea,
.general-form fieldset p input,
.general-form fieldset p select {
    display: block;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

.general-form fieldset p label,
.general-form fieldset p span {
    display: inline-block;
    width: auto;
}

.general-form fieldset p input[type=checkbox] {
    width: auto;
}

.general-form .form-help {
    display: block;
}

@media (max-width: 400px) {
    .general-form input[type=button],
    .general-form input[type=submit] {
        width: 100%;
    }
    .general-form input + input {
        margin-top: 0.5em;
    }
}