<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}Arch Linux{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/media/arch.css" />
        <link rel="icon" type="image/x-icon" href="/media/favicon.ico" />
        <link rel="shortcut icon" type="image/x-icon" href="/media/favicon.ico" />
        <link rel="search" type="application/opensearchdescription+xml" href="/opensearch/packages/" title="Arch Linux Packages" />
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="head_container">
            <div id="title">
              <div id="logo"><h1 id="archtitle"><a href="/" title="Arch Linux (Home)">Arch Linux</a></h1></div>
            </div>
            <div id="main_nav">
                {% block topmenu %}
                <ul>
                    <li{% ifnotequal path '/download/' %} class="selected"{% endifnotequal %}><a href="/">Home</a></li>
                    <li><a href="http://bbs.archlinux.org/">Forums</a></li>
                    <li><a href="http://wiki.archlinux.org/">Wiki</a></li>
                    <li><a href="http://bugs.archlinux.org/">Bugs</a></li>
                    <li><a href="http://aur.archlinux.org/">AUR</a></li>
                    <li{% ifequal path '/download/' %} class="selected"{% endifequal %}><a href="/download/">Download</a></li>
                </ul>
                {% endblock %}
            </div>
            <div id="dev_nav">
                {% if user.is_authenticated %}
                    <ul>
                        <li><a href="/devel/">Dashboard</a></li>
                        <li><a href="/news/">News</a></li>
                        <li><a href="/packages/signoffs/">Signoffs</a></li>
                        <li><a href="/todo/">Todos</a></li>
                        <li><a href="http://www.archlinux.org/mailman/private/arch-dev/">Archives</a></li>
                        <li><a href="/mirrors/">Mirrors</a></li>
                        <li><a href="/devel/profile/">Profile</a></li>
                        <li><a href="/accounts/logout/">Logout</a></li>
                     </ul>
                {% endif %}
            </div>
        </div>
        <div id="content">
            {% if messages %}
            <div class="box" style="width: 50%; text-align: center; margin-left: auto; margin-right: auto">
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
            <br />
            {% endif %}
            {% block content %}
            <div class="right">
                {% block content_right %}
                {% endblock %}
            </div>
            <div class="left">
                {% block content_left %}
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        <div class="foot">
          Copyright &copy; 2002-{% now "Y" %} <a href="mailto:jvinet@zeroflux.org" title="contact Judd Vinet">Judd Vinet</a> and <a href="mailto:aaron@archlinux.org" title="contact Aaron Griffin">Aaron Griffin</a>.<br />
          The Arch Linux name and logo are recognized trademarks. Some rights
          reserved.<br />
          The registered trademark Linux® is used pursuant to a sublicense from LMI, the exclusive licensee of Linus Torvalds, owner of the mark on a world-wide basis.
        </div>
    </body>
</html>
