{% load static %}<!DOCTYPE html>
{% load group %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#0088cc" />
    <title>{% block title %}Arch Linux{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400;14..32,500;14..32,600;14..32,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "archlinux_common_style/navbar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "archweb.css" %}" media="screen" />
    <link rel="icon" type="image/png" href="{% static "archlinux_common_style/favicon.png" %}" />
    <link rel="apple-touch-icon" href="{% static "archlinux_common_style/apple-touch-icon-57x57.png" %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "archlinux_common_style/apple-touch-icon-72x72.png" %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "archlinux_common_style/apple-touch-icon-114x114.png" %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "archlinux_common_style/apple-touch-icon-144x144.png" %}" />
    <link rel="search" type="application/opensearchdescription+xml" href="{% url 'opensearch-packages' as osp %}{{ osp }}" title="Arch Linux Packages" />
    {% block head %}{% endblock %}
</head>
<body class="{% if user.is_authenticated %}devmode {% endif %}{% block bodyclass %}{% endblock %}">
    <header class="{% block navbarclass %}anb-home{% endblock %}">
        {% include "archlinux_common_style/navbar-django.html" with anb_home_url="/" anb_packages_url="/packages/" anb_download_url="/download/" %}
    </header>
    <main id="content">
        <div id="archdev-navbar">
            {% if user.is_authenticated %}
                <ul>
                    <li><a href="{% url 'devel-index' %}" title="Developer Dashboard">Dashboard</a></li>
                    <li><a href="https://wiki.archlinux.org/title/DeveloperWiki"
                        title="Developer Wiki">DevWiki</a></li>
                    <li><a href="{% url 'news-list' as newsl %}{{ newsl }}" title="Manage news articles">News</a></li>
                    <li><a href="/packages/signoffs/" title="Package signoffs">Signoffs</a></li>
                    <li><a href="/todo/" title="Developer todo lists">Todos</a></li>
                    <li><a href="{% url 'devel-clocks' %}" title="Developer world clocks">Dev Clocks</a></li>
                    {% if user|in_group:'Developers' %}
                    <li><a href="https://lists.archlinux.org/archives/list/arch-dev@lists.archlinux.org/"
                        title="arch-dev mailing list archives">Archives</a></li>
                    {% endif %}
                    <li><a href="https://monitoring.archlinux.org/"
                        title="Arch server monitoring">Server Monitoring</a></li>
                    {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}" title="Django Admin Interface">Django Admin</a></li>
                    {% endif %}
                    <li><a href="/devel/profile/" title="Modify your account profile">Profile</a></li>
                    {% if user|in_groups:'Developers:Package Maintainers:Support Staff' %}
                    <li><a href="/devel/tier0mirror/" title="Your Tier 0 Mirror information">Tier0 mirror</a></li>
                    {% endif %}
                    <li>
                        <form class="logout-form" method="post" action="/logout/">{% csrf_token %}
                            <input type="submit" title="Logout of the developer interface" value="Logout"/>
                        </form>
                    </li>
                </ul>
            {% endif %}
        </div>
        {% if messages %}
            <div id="sys-message" class="box">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
            <div id="content-left-wrapper">
                <div id="content-left">
                    {% block content_left %}{% endblock %}
                </div>
            </div>
            <div id="content-right">
                {% block content_right %}{% endblock %}
            </div>
        {% endblock %}
        <footer id="footer">
            <p>Copyright &copy; 2002-{% now "Y" %} <a href="mailto:jvinet@zeroflux.org"
                title="Contact Judd Vinet">Judd Vinet</a>, <a href="mailto:aaron@archlinux.org"
                title="Contact Aaron Griffin">Aaron Griffin</a> and
                <a href="mailto:anthraxx@archlinux.org" title="Contact Levente Polyák">Levente Polyák</a>.</p>

            <p>The Arch Linux name and logo are recognized
            <a href="https://terms.archlinux.org/docs/trademark-policy/"
                title="Arch Linux Trademark Policy">trademarks</a>. Some rights reserved.</p>

            <p>The registered trademark Linux&reg; is used pursuant to a sublicense from LMI,
            the exclusive licensee of Linus Torvalds, owner of the mark on a world-wide basis.</p>
        </footer>
    </main>
    <script type="application/ld+json">
    {
       "@context": "https://schema.org",
       "@type": "WebSite",
       "url": "{{ domain }}/",
       "potentialAction": {
         "@type": "SearchAction",
         "target": "{{ domain }}/packages/?q={search_term}",
         "query-input": "required name=search_term"
       }
    }
    </script>
    {% block script_block %}{% endblock %}
</body>
</html>
