{% extends "base.html" %}
{% block title %}Arch Linux - {{title}}{% endblock %}

{% block content %}
<div id="generic-form" class="box">

    <h2>{{title}}</h2>

    {% if description %}{{description}}{% endif %}

    <form class="general-form" method="post" action=".">{% csrf_token %}
        <fieldset>
            {% for field in form %}
                <p><label>{{field.label}}{% if field.help_text %}:</label><br />
                <span class="form-help">{{field.help_text}}</span> {% else %}:</label> {% endif %}
                {{field}} {% if field.required %}<span class="form-req-field">*</span>{% endif%}</p>
            {% endfor %}
        </fieldset>
        <p><label></label> <input type="submit" value="{{submit_text}}" /></p>
    </form>

</div>
{% endblock %}
