{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
<div class="box">
    <h2>Failures and Successes for Testing ISOs</h2>

    <p>This is an overview showing all current or tested release engineering
    produced ISOs. Past but now unavailable ISOs are ommitted if there were
    never any testing results submitted. To help improve ISO quality, you are
    encouraged to <a href="{% url 'releng-test-submit' %}">give feedback</a>
    if you have tested and used any ISOs. Both successful and failed results
    are encouraged and welcome.</p>
    <p><a href="{% url 'releng-test-overview' %}">Go back to testing results</a></p>

    <table id="releng-result" class="results">
        <thead>
            <tr>
                <th>ISO</th>
                <th>Currently Available</th>
                <th># Successes</th>
                <th># Failures</th>
            </tr>
        </thead>
        <tbody>
            {% for iso in isos %}
            <tr>
                <td>
                    <a href="{{ iso.get_absolute_url }}">{{ iso.name }}</a>
                </td>
                <td>{{ iso.active|yesno|capfirst }}</td>
                <td>{{ iso.successes }}</td>
                <td>{{ iso.failures }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script_block %}
{% load cdn %}{% jquery %}{% jquery_tablesorter %}
<script type="text/javascript" src="{% static "archweb.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $(".results:not(:has(tbody tr.empty))").tablesorter({widgets: ['zebra']});
});
</script>
{% endblock %}
