{% extends "base.html" %}
{% load cycle from future %}
{% load static from staticfiles %}

{% block title %}Arch Linux - Releases{% endblock %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="Arch Linux News Updates" href="/feeds/releases/" />
{% endblock %}

{% block content %}
<div id="release-list" class="box">
    <h2>Releases</h2>

    <table id="release-table" class="results">
        <thead>
            <tr>
                <th>Release Date</th>
                <th>Version</th>
                <th>Kernel Version</th>
                <th>Available?</th>
                <th>Torrent</th>
                <th>Magnet</th>
                <th>Download Size</th>
            </tr>
        </thead>
        <tbody>
            {% for item in release_list %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td>{{ item.release_date|date }}</td>
                <td><a href="{{ item.get_absolute_url }}" title="Release details for {{ item.version }}">{{ item.version }}</a></td>
                <td>{{ item.kernel_version|default:"" }}</td>
                <td class="available-{{ item.available|yesno }}">{{ item.available|yesno|capfirst }}</td>
                <td>{% if item.available %}<a href="{% url 'releng-release-torrent' item.version %}"
                        title="Download torrent for {{ item.version }}">Torrent</a>{% endif %}</td>
                <td>{% if item.available %}<a href="{{ item.magnet_uri }}">Magnet</a>{% endif %}</td>
                <td>{% if item.file_size %}{{ item.file_size|filesizeformat }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script_block %}
{% load cdn %}{% jquery %}{% jquery_tablesorter %}
<script type="text/javascript" src="{% static "archweb.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $(".results").tablesorter({
        widgets: ['zebra'],
        sortList: [[0,1], [1,1]],
        headers: { 4: { sorter: false }, 5: { sorter: false } }
    });
});
</script>
{% endblock %}
