{% extends "base.html" %}

{% block content %}
<div class="box">
	<h2 class="title">About Arch Linux</h2>

	<p>
	Arch Linux is a general purpose linux distribution that can be molded to
	do just about anything.  It is fast, lightweight, flexible, and most of the
	parts under the hood are quite simple to understand and tweak, which can
	make it a good distro to "learn the ropes" on.  We do not provide any
	configuration helper utilities (ie, you won't find <i>linuxconf</i> in
	here) so you will quickly become very proficient at configuring your system
	from the shell commandline.
	</p>

	<p>
	Arch Linux uses i686-optimized packages which gives us improved
	performance over some of our i386-optimized cousins.  This means that Arch
	Linux will only run on a Pentium II processor or higher.  We try to stay
	fairly bleeding edge, and typically have the latest stable versions of
	software.
	</p>

	<p>
	Arch Linux uses the <a href='http://www.archlinux.org/pacman'>Pacman</a>
	package manager, which couples a simple binary package format with an
	easy-to-use build system, allowing the users to easily manage and customize
	their packages, whether they be official Arch packages or the user's own
	homegrown ones.  The repository system allows users to build and maintain
	their own custom package repositories, which encourages community growth and
	contribution.
	</p>

	<p>
	Pacman can keep a system up to date by synchronizing package lists with
	the master server, making it a breeze for the security-conscious system
	administrator to maintain.  This server/client model also allows you to
	download/install packages with a simple command, complete with all required
	dependencies (similar to Debian's apt-get).
	</p>

	<p>
	Arch's official package set is fairly streamlined, but we supplement this
	with a larger, more complete "extra" repository that contains a lot of the
	stuff that never made it into our core package set.  This repository is
	constantly growing with the help of packages submitted from our strong
	community.
	</p>

	<p>
	Arch Linux does not provide any official support, but you will find a lot
	of helpful people on our IRC channel and on our <a
	href='http://bbs.archlinux.org'>user forums</a>.  Chances are that some other
	Archer has had the same problem/question as you and it's already been
	answered.  Ask around!
	</p>

	<p>
	Arch Linux uses a "rolling release" system which works like this:  We have
	two versions of our core package set at any given time, <b>Current</b> and
	<b>Release</b>. The Current repository always contains the latest and
	greatest versions of packages.  As soon as a package is updated it is part of
	the Current repository, so this is the one to follow if you want to stay very
	up to date.  The Release repository follows the semi-regular snapshot
	releases and does not update until the next snapshot/iso has been released.
	For example, the Release repository will point to all packages on the 0.5 ISO
	until we release 0.6; then it will point to 0.6 packages until 0.7 is
	released. This is useful if you only want to update your system when a new
	release is available.
	</p>

	<p>
	So, to sum up:  Arch Linux is a workhorse distribution designed to fit the
	needs of the competent linux user.  We strive to make it both powerful and
	easy to manage, making it an ideal distro for  servers and workstations. Take
	it in any direction you like.
	</p>
</div>
<br /><br />
{% endblock %}

