{% extends "base.html" %}
{% block title %}Arch Linux - Artwork{% endblock %}
{% block content %}
<div class="box">
    <h2 class="title">Arch Linux Logos and Artwork</h2>
    <h3>Official Packages</h3>
    <p>Official logos, artwork, and more are available from the Extra repository. Currently, these packages are:</p>
    <ul>
      <li><strong>archlinux-artwork</strong> - official logos, icons and CD labels</li>
      <li><strong>archlinux-wallpaper</strong> - a variety of desktop wallpapers for standard and widescreen resolutions</li>
      <li><strong>archlinux-themes-gdm</strong> - GDM login themes</li>
      <li><strong>archlinux-themes-kde</strong> - KDE themes and icons</li>
      <li><strong>archlinux-themes-kdm</strong> - KDM login themes</li>
      <li><strong>archlinux-themes-ksplash</strong> - Ksplash themes</li>
      <li><strong>archlinux-themes-slim</strong> - SLiM login themes</li>
    </ul>
    <p>Alternatively, you can <a href="ftp://ftp.archlinux.org/other/artwork/" title="Browse the FTP archives">download the source files via FTP</a>.</p>
    <h3>Former Logos</h3>
    <p>Arch has gone through a few iterations of logos and associated artwork.
    Here is a good selection of these logos. Several of the later logos can be
    clicked on to get either a larger PNG or SVG version of the logo.</p>
    <h4>Original Ribbon Logos</h4>
    <p>
    <img src="/logos/old/archlogo.gif" alt="Ribbon Logo 1"/>
    <img src="/logos/old/archlogo2.gif" alt="Ribbon Logo 2"/>
    <img src="/logos/old/archlogo_black_plain.png" alt="Ribbon Logo Black"/>
    </p>
    <p>
    <img src="/logos/old/archlogo3.gif" alt="Ribbon Logo Binary 1"/>
    <img src="/logos/old/archlogo_white.gif" alt="Ribbon Logo Binary 2"/>
    <img src="/logos/old/archlogo_black.gif" alt="Ribbon Logo Binary Black"/>
    </p>
    <h4>"Arch Blue" Logos</h4>
    <p>
    <a href="/logos/old/archlinux_logo_2.svg">
        <img src="/logos/old/archblue.png" alt="Arch Blue Full"/>
    </a>
    <span style="margin-left: 1em;">
    <a href="/logos/old/archlinux_logo_1.svg">
        <img src="/logos/old/archblue2.png" alt="Arch Blue Compact"/>
    </a>
    </span>
    </p>
    <h4>"Arch Aqua" Logos</h4>
    <p>
    <a href="/logos/old/archlinux_logo_aqua.svg">
        <img src="/logos/old/sml_128-archlinux_logo_aqua.png" alt="Arch Aqua"/>
    </a>
    <a href="/logos/old/scalable/arch_linux_blue.svg"/>
        <img src="/logos/old/128x128/arch_linux_blue.png" alt="Arch Aqua Blue"/>
    </a>
    <a href="/logos/old/scalable/arch_linux_white.svg"/>
        <img src="/logos/old/128x128/arch_linux_white.png" alt="Arch Aqua White"/>
    </a>
    </p>
    <h4>Release-specific Logos</h4>
    <p>
    <a href="/logos/old/wombat.png" title="Wombat"/>
        <img src="/logos/old/sml-wombat.png" height="128" alt="Arch Wombat"/>
    </a>
    </p>
    <p>
    <a href="/logos/old/scalable/arch_linux_blue_noodle.svg" title="Noodle"/>
        <img src="/logos/old/128x128/arch_linux_blue_noodle.png" alt="Arch Noodle Blue"/>
    </a>
    <a href="/logos/old/scalable/arch_linux_white_noodle.svg" title="Noodle"/>
        <img src="/logos/old/128x128/arch_linux_white_noodle.png" alt="Arch Noodle White"/>
    </a>
    <a href="/logos/old/scalable/arch_noodles.svg" title="Noodle"/>
        <img src="/logos/old/128x128/arch_noodles.png" alt="Arch Box of Noodles"/>
    </a>
    <a href="/logos/old/scalable/pot_arch.svg" title="Noodle"/>
        <img src="/logos/old/128x128/pot_arch.png" alt="Arch Cup of Noodles"/>
    </a>
    </p>
</div>
{% endblock %}

