{% extends "base.html" %}

{% block content %}
<div class="greybox" style="text-align:center">
	You can access all of our PKGBUILD files from the
	<a href="http://cvs.archlinux.org">cvsweb</a> interface.
</div>
<br /><br />
<div class="box">
	<h2 class="title">CVS Repositories</h2>
	<br /><br />
	Anonymous CVS access is also available.  Use <i><u>anonymous</u></i> as the
	username and password.<br /><br />
	<ol class="instructions">
		<li>
			Set CVSROOT to the repository you wish to access:<br /><br />
			<blockquote class="code">
# export CVSROOT=:pserver:anonymous@cvs.archlinux.org:/home/cvs-core<br /><br />
OR<br /><br />
# export CVSROOT=:pserver:anonymous@cvs.archlinux.org:/home/cvs-extra<br /><br />
OR<br /><br />
# export CVSROOT=:pserver:anonymous@cvs.archlinux.org:/home/cvs-unstable<br /><br />
			</blockquote>
			<br /><br />
		</li>
		<li>
			Login:<br /><br />
			<blockquote class="code">
# touch ~/.cvspass<br />
# cvs login<br />
Logging in to :pserver:anonymous@cvs.archlinux.org:2401/home/cvs-core<br />
CVS password: anonymous<br />
			</blockquote>
			<br /><br />
		</li>
		<li>
			Check out the repository:<br /><br />
			<blockquote class="code">
# cvs -z3 co core<br /><br />
OR<br /><br />
# cvs -z3 co extra<br />
	 		</blockquote>
		</li>
	</ol>
</div>
<br /><br />
{% endblock %}

