{% extends "base.html" %}
{% block title %}Arch Linux - Donors{% endblock %}
{% block content %}
<div class="box">
    <h2 class="title">Donate to Arch Linux</h2>
    <p>
    Arch Linux survives because of the tireless efforts of many people in
    the community and the core development circle.  None of us are paid for our
    work, and we don't have the personal funds to sustain server costs ourselves.
    </p><p>
    There are many ways to help Arch Linux.  If technical development,
    documentation, or support aren't your strong points, you could certainly
    help us by dropping a few bucks our way.
    </p><p>
    Many thanks!
    </p>
    <div style="text-align:center">
        <!-- paypal code -->
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick"/>
        <input type="hidden" name="business" value="aaronmgriffin@gmail.com"/>
        <input type="hidden" name="currency_code" value="USD"/>
        <input type="hidden" name="tax" value="0"/>
        <input type="hidden" name="lc" value="US"/>
        <input type="hidden" name="bn" value="PP-DonationsBF"/>
        <input type="hidden" name="item_name" value="Arch Linux Donation"/>
        <input type="hidden" name="image_url" value="/logos/arch-paypal.jpg"/>
        <input type="hidden" name="no_shipping" value="1"/>
        <input type="hidden" name="cn" value="Suggestions/Comments"/>
        <input type="hidden" name="no_note" value="1"/>
        <input type="image" src="https://www.paypal.com/images/x-click-butcc-donate.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!" style="background: transparent; border: none"/>
        </form>
    </div>
    <br />
    <h2 class="title">Sponsors and Contributions</h2>
    <p>We'd like to thank <a href="http://www.velocitynetwork.net/?hosting_by=ArchLinux" title="velocity network">Velocity Network</a> for contributing space in a server rack, bandwidth, and electricity for our main server for the last couple of years.</p>
    <a href="http://www.velocitynetwork.net/?hosting_by=ArchLinux" title="velocity network"><img src="/media/vnet_button.png" class="" title="" alt="velocity network - it's about time" /></a>
    <br />
    <p>We also wish to extend a special Thank You to <a href="https://www.sevenl.net/?utm_source=archlinux-org&amp;utm_medium=sponsored-banner&amp;utm_campaign=thanks-to-sevenl" title="SevenL Networks - Dedicated Arch Linux servers">SevenL Networks</a> for their generous and ongoing contribution of a dedicated Arch Linux server. You too can have a dedicated Arch Linux server hosted by SevenL...head over to their <a href="https://www.sevenl.net/dedicated-server/?utm_source=archlinux-org&amp;utm_medium=sponsored-banner&amp;utm_campaign=thanks-to-sevenl" title="SevenL Networks - dedicated server hosting">website</a> for more details.</p>
    <a href="https://www.sevenl.net/?utm_source=archlinux-org&amp;utm_medium=sponsored-banner&amp;utm_campaign=thanks-to-sevenl" title="SevenL Networks - Dedicated Arch Linux servers"><img src="/media/sevenl_button.png" class="" title="A big Thank You to SevenL Networks for their generous contribution" alt="We would like to express our thanks to SevenL Networks for their generous contribution" /></a>
    <br />
    <p>More thanks go to <a href="http://www.airvm.com/VirtualServers" title="AirVM.com">AirVM.com</a> for contributing a VMWare-based Virtual Machine.</p>
    <a href="http://www.airvm.com/VirtualServers" title="AirVM.com - Your Green Technology Partner"><img src="/media/airvm_button.jpg" class="" title="AirVM.com - Your Green Technology Partner" alt="AirVM.com - Your Green Technology Partner" /></a>
    <br />
    <h2 class="title">Past Donors</h2>
    <table width="100%">
        <tr>
            <td style="font-size:x-small;vertical-align:top">
            {% for donor in slice1 %}
              {{ donor.name }}<br />
            {% endfor %}
            </td>
            <td style="font-size:x-small;vertical-align:top">
            {% for donor in slice2 %}
              {{ donor.name }}<br />
            {% endfor %}
            </td>
            <td style="font-size:x-small;vertical-align:top">
            {% for donor in slice3 %}
              {{ donor.name }}<br />
            {% endfor %}
            </td>
            <td style="font-size:x-small;vertical-align:top">
            {% for donor in slice4 %}
              {{ donor.name }}<br />
            {% endfor %}
            </td>
        </tr>
    </table>
</div>
<br /><br />
{% endblock %}

