{% extends "base.html" %}
{% load cache %}
{% load static from staticfiles %}

{% block title %}Arch Linux - Donate{% endblock %}

{% block content %}
{% cache 600 donations %}
<div id="donations" class="box">

    <h2>Donate to Arch Linux</h2>

    <p>Arch Linux survives because of the tireless efforts of many people in
    the community and the core development circle.  None of us are paid for
    our work, and we don't have the personal funds to sustain server costs
    ourselves.</p>

    <p>There are many ways to help support Arch Linux.  If technical development,
    documentation, or support aren't your strong points, you could certainly
    help us by dropping a few bucks our way.</p>

    <p>Many thanks!</p>

    <h3>Monetary donations</h3>

    <p>Financial contributions are accepted via <a href="https://co.clickandpledge.com/Default.aspx?WID=47294" title="Donate via Click&amp;Pledge to Arch Linux">Click&amp;Pledge</a>
    or via <a href="https://www.spi-inc.org/projects/archlinux/" title="Donate via SPI to Arch Linux">SPI</a> directly using PayPal or Credit Card payment.
    Arch Linux is a member project of the
    <a href="http://www.spi-inc.org/">Software in the Public Interest, Inc.</a>
    non-profit corporation. Funds are used for hosting costs, server hardware
    upgrades, and more. You are encouraged to learn more about the SPI, as well
    as <a href="http://www.spi-inc.org/donations/">how donations work</a>.</p>

    <a href="https://co.clickandpledge.com/Default.aspx?WID=47294">
        <img src="{% static "click_and_pledge.png" %}" alt="Donate via Click&amp;Pledge to Arch Linux" title="Donate via Click&amp;Pledge to Arch Linux"/>
    </a>

    <h3>Commercial sponsors and contributions</h3>

    <p>We would like to thank Kartenzia for sponsoring a dedicated Arch Linux Server.
    Kartenzia.de is a new Start-Up based in Germany and specializes in
    eco-friendly invitations like <a href="http://www.kartenzia.de/weihnachtskarten/">Weihnachten</a>.</p>

    <a href="https://www.kartenzia.de/"><img src="{% static "kartenzia_button.png" %}" class="sponsor-btn-kartenzia" /></a>

    <p>We would like to thank <a href="https://www.privateinternetaccess.com/"
    title="Private Internet Access">Private Internet Access</a> for sponsoring
    dedicated servers across the globe. Private Internet Access is the leading
    VPN Service provider specializing in secure, encrypted VPN tunnels which
    create several layers of privacy and security providing users safety on the
    internet.</p>

    <a href="https://www.privateinternetaccess.com/" title="Private Internet Access">
    <img src="{% static "pia_logo.png" %}"
    class="sponsor-btn-pia" title="" alt="Private Internet Access logo"/></a>

    <p>We would also like to thank <a href="https://icons8.com/" title="Icons8">
    Icons8</a> for their yearly monetary donation. Icons8 is a team of talented
    designers and engineers working on fulfilling all your icons needs.</p>

    <a href="https://icons8.com/" title="Icons8">
    <img src="{% static "icons8_logo.png" %}"
    class="sponsor-btn-icons8" title="" alt="Icons8 logo"/></a>


    <h3>Past donors</h3>

    <div id="donor-list">
        <ul>
{% for donor in donors %}
<li>{{ donor.name }}</li>{% endfor %}
        </ul>
    </div>
    <p>A huge thanks to you all for your contributions!</p>
</div>
{% endcache %}
{% endblock %}
