{% extends "base.html" %}

{% block content %}
<div class="box">
    <h2 class="title">Release Info</h2>
    <div style="text-align:center">
        <p>All available images can be burned to a CD, mounted as an ISO file,
        or be directly written to a USB stick using a utility like `dd`. These
        are intended for new installations only; an existing Arch Linux system
        can always be updated with `pacman -Syu`.</p>

        <b>Current Release:</b> 2010.05 <br />
        <b>Included Kernel:</b> 2.6.33.4 <br />
        <b>Resources:</b>
            <a href="http://bugs.archlinux.org/index.php?project=6">Bug Tracker</a>
            -
            <a href="http://www.archlinux.org/mailman/listinfo/arch-releng">Mailing List</a>
            <br />
            <br />
        <b>Links and Instructions:</b><br />
        <a href="http://www.archlinux.org/iso/2010.05/README">
            Downloading Instructions
        </a>
        <br />
        <a href="http://wiki.archlinux.org/index.php/Official_Arch_Linux_Install_Guide">
            Arch Linux Install Guide
        </a>
    </div>
    <h2 class="title">BitTorrent Download (recommended)</h2>
    <div style="text-align:center">
        <p>If you can spare the bytes, please leave the client open after your
        download is finished, so you can seed it back to others. A web-seed
        capable client is recommended for fastest download speeds.</p>

        <h3>Netinstall ISOs</h3>
        <p>
        <a href="http://www.archlinux.org/iso/2010.05/archlinux-2010.05-netinstall-i686.iso.torrent">i686</a>
        <br />
        <a href="http://www.archlinux.org/iso/2010.05/archlinux-2010.05-netinstall-x86_64.iso.torrent">x86_64</a>
        <br />
        <a href="http://www.archlinux.org/iso/2010.05/archlinux-2010.05-netinstall-dual.iso.torrent">Dual Arch</a>
        </p>

        <h3>Core ISOs</h3>
        <p>
        <a href="http://www.archlinux.org/iso/2010.05/archlinux-2010.05-core-i686.iso.torrent">i686</a>
        <br />
        <a href="http://www.archlinux.org/iso/2010.05/archlinux-2010.05-core-x86_64.iso.torrent">x86_64</a>
        <br />
        <a href="http://www.archlinux.org/iso/2010.05/archlinux-2010.05-core-dual.iso.torrent">Dual Arch</a>
        </p>

    </div>
    <h2 class="title">Buy A CD</h2>
    <div style="text-align:center">
        These suppliers donate a small percentage of each CD purchased to
        the Arch Linux project:
        <table class="center" cellspacing="10">
            <tr><td>
        <a href="http://www.osdisc.com/cgi-bin/distro/index.cgi?distro=archlinux">
            Purchase CD from OSDisc</a>
            </td></tr>
            <tr><td>
        <a href="http://www.shoplinuxonline.com/index.php?main_page=index&amp;cPath=1_46&amp;zenid=ecd15b48affe8976130bc575c1276ee4">
            Purchase CD from Shop Linux Online</a>
            </td></tr>
        </table>
        You can also purchase Arch on CD from these suppliers:
        <table class="center" cellspacing="10">
            <tr>
                <td>
        <a href="http://www.linuxcd.org/view_distro.php?id_distro=48">Purchase CD from LinuxCD</a>
            </td></tr>
        </table>
    </div>

    
    <h2 class="title">HTTP/FTP Download</h2>
    <div style="text-align:center">
        <p>In addition to the BitTorrent links above, ISO images can also be
        downloaded via HTTP or FTP from the mirror sites listed below. Please
        ensure the download image matches the checksum from the md5sums.txt or
        sha1sums.txt file in the same directory as the image.</p>
        <h3>Checksums</h3>
        <p>
            <a href="http://www.archlinux.org/iso/2010.05/sha1sums.txt">SHA1</a>
            <br />
            <a href="http://www.archlinux.org/iso/2010.05/md5sums.txt">MD5</a>
        </p>

        <table class="center">
            <tr><td colspan="2"><h3>Mirror Sites</h3>
            {% for mirror_url in mirror_url_list %}
                {% ifchanged mirror_url.mirror.country %}
                </td></tr>
                <tr><td colspan="2" style="text-align: left"><br /><h4>{{mirror_url.mirror.country}}</h4>
                {% endifchanged %}
                {% ifchanged mirror_url.mirror.name %}
                    </td></tr>
                    <tr><td style="text-align: left">{{mirror_url.mirror.name}}</td><td style="text-align: right">
                {% endifchanged %}
                (<a href="{{mirror_url.url}}iso/">{{mirror_url.protocol.protocol}}</a>)
            {% endfor %}
            </td></tr>
        </table>
    <p>If you want to become an Official Arch Linux Mirror please follow
    the instructions listed <a href="http://wiki.archlinux.org/index.php/DeveloperWiki:NewMirrors">here</a>.
    </p>
    </div>
</div>
<br /><br />
{% endblock %}

