{% extends "base.html" %}

{% block content %}
<div class="box">
	<h2 class="title">Buy A CD</h2>
	CDs are available for purchase from OSDisc.com.  For each CD purchased, a
	portion of the money goes to the Arch Linux Project.<br /><br />
	<div style="text-align:center">
		<a href="http://www.osdisc.com/cgi-bin/distro/index.cgi?distro=archlinux">Click here to purchase a CD</a>
    </div>
    <br /><br />

	<h2 class="title">BitTorrent Download</h2>
	<br /><br />
	<div style="text-align:center">
		<h3>Download with BitTorrent</h3>
		If you can spare the bytes, please leave the BT client
		open after your<br /> download is finished, so you can seed it back to others.<br />
		<br />
		<table class="center" cellspacing="10">
			<tr>
				<th>&nbsp;</th>
				<th>CORE</th>
				<th>FTP Install</th>
			</tr>
			<tr>
				<td>i686:</td>
                <td>
                    <a href="ftp://ftp.archlinux.org/iso/2007.08/i686/Archlinux-i686-2007.08-2.core.iso.torrent">
                        2007.08-2
                    </a>
                </td>
                <td>
                    <a href="ftp://ftp.archlinux.org/iso/2007.08/i686/Archlinux-i686-2007.08-2.ftp.iso.torrent">
                        2007.08-2
                    </a>
                </td>
			</tr><tr>
				<td>x86_64:</td>
                <td>
                    <a href="ftp://ftp.archlinux.org/iso/2007.08/x86_64/Archlinux-x86_64-2007.08-2.core.iso.torrent">
                        2007.08-2
                    </a>
                </td>
                <td>
                    <a href="ftp://ftp.archlinux.org/iso/2007.08/x86_64/Archlinux-x86_64-2007.08-2.ftp.iso.torrent">
                        2007.08-2
                    </a>
                </td>
			</tr>
		</table>
	</div>
    <br /><br />
    
    <h2 class="title">HTTP/FTP Download</h2>
    <br /><br />
	<div style="text-align:center">
        <h3>Download with HTTP/FTP</h3>
        In addition to the BitTorrent links above, ISO images can also be downloaded <br /> via HTTP/FTP from the /iso/ sub-directory of mirror sites listed below.<br />
        <br /><br />
		<h3>Mirror Sites</h3>
		<table class="center" cellspacing="10">
		{% for mirror in mirrors %}
			<tr>
				<td style="text-align:left"><a href="{{ mirror.url }}">{{ mirror.domain }}</a></td>
				<td style="text-align:right">{{ mirror.country }}</td>
			</tr>
		{% endfor %}
		</table>
	</div>
</div>
<br /><br />
{% endblock %}

