{% extends "base.html" %}
{% block title %}Arch Linux - RSS Feeds{% endblock %}

{% block content %}
<div id="rss-feeds" class="box">

    <h2>RSS Feeds</h2>

    <p>Several RSS feeds are available for consumption from the Arch website.
    The majority of these are package-related and allow feeds to be customized
    for the updates you care about.</p>

    <h3>News and Activity Feeds</h3>

    <p>Grab the <a href="/feeds/news/" class="rss" title="Arch Linux news feed">news item feed</a>
    to keep up-to-date with the latest news from the Arch Linux development staff.</p>

    <p>The <a href="https://wiki.archlinux.org/index.php?title=Special:RecentChanges&amp;feed=rss"
    title="ArchWiki Recent Changes feed" class="rss">Arch Wiki: Recent changes feed</a>
    is also available to track document changes from the <a href="https://wiki.archlinux.org/"
    title="Arch Wiki community documentation">Arch Wiki</a>.</p>

    <h3>Package Feeds</h3>

    <p>If you are interested in <a href="/feeds/packages/" class="rss"
        title="Arch Linux package updates feed">all package updates</a>,
    then grab this feed. Note that when a package is updated for multiple
    architectures, you will see each individual update show up here.
    Alternatively, you can select a packages feed from the below table that is
    more tailored to your specific needs. If you are only interested in one
    architecture, there are a variety of feeds you can choose from. Note that
    feeds for a specific architecture, such as 'i686', will also include all
    package updates for 'any' (architecture-independent) packages.</p>

    <table class="pretty2">
        <thead>
            <tr>
                <th></th>
                <th>All Arches</th>
                {% for arch in arches %}
                <th>{{ arch }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>All Repos</strong></td>
                <td><a href="/feeds/packages/" class="rss">Feed</a></td>
                {% for arch in arches %}
                <td><a href="/feeds/packages/{{ arch }}/" class="rss">Feed</a></td>
                {% endfor %}
            </tr>
            {% for repo in repos %}
            <tr>
                <td><strong>{{ repo }}</strong></td>
                <td><a href="/feeds/packages/all/{{ repo|lower }}/" class="rss">Feed</a></td>
                {% for arch in arches %}
                <td><a href="/feeds/packages/{{ arch }}/{{ repo|lower }}/" class="rss">Feed</a></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>A <a href="https://aur.archlinux.org/rss/" class="rss" title="AUR newest packages feed">newest packages feed</a>
    is also available from the <a href="https://aur.archlinux.org/" title="AUR Homepage">Arch User Repository (AUR)</a>.</p>

    <h3>Release Feed</h3>

    <p>Grab the <a href="/feeds/releases/" class="rss" title="Arch Linux release feed">ISO release feed</a>
    if you want to help seed the ISO release torrents as they come out.</p>

    <h3>Development Feeds</h3>

    <p>Subscribe to any of the following to track bug tickets and feature
    requests from the <a href="https://bugs.archlinux.org/" title="Arch Linux Bugs">Arch Linux Bugtracker</a>:</p>

    <table class="pretty2">
        <thead>
            <tr>
                <th>Project</th>
                <th>Recently Opened Tasks</th>
                <th>Recently Edited Tasks</th>
                <th>Recently Closed Tasks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>All Projects</td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;project=0" class="rss">Feed</a></td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;topic=edit&amp;project=0" class="rss">Feed</a></td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;topic=clo&amp;project=0" class="rss">Feed</a></td>
            </tr><tr>
                <td>Arch Linux</td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;project=1" class="rss">Feed</a></td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;topic=edit&amp;project=1" class="rss">Feed</a></td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;topic=clo&amp;project=1" class="rss">Feed</a></td>
            </tr><tr>
                <td>Release Engineering</td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;project=6" class="rss">Feed</a></td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;topic=edit&amp;project=6" class="rss">Feed</a></td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;topic=clo&amp;project=6" class="rss">Feed</a></td>
            </tr><tr>
                <td>Pacman Development</td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;project=3" class="rss">Feed</a></td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;topic=edit&amp;project=3" class="rss">Feed</a></td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;topic=clo&amp;project=3" class="rss">Feed</a></td>
            </tr><tr>
                <td>Community Packages</td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;project=5" class="rss">Feed</a></td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;topic=edit&amp;project=5" class="rss">Feed</a></td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;topic=clo&amp;project=5" class="rss">Feed</a></td>
            </tr><tr>
                <td>AUR</td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;project=2" class="rss">Feed</a></td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;topic=edit&amp;project=2" class="rss">Feed</a></td>
                <td><a href="https://bugs.archlinux.org/feed.php?feed_type=rss2&amp;topic=clo&amp;project=2" class="rss">Feed</a></td>
            </tr>
        </tbody>
    </table>

 </div>
{% endblock %}
