{% extends "base.html" %}
{% block title %}Arch Linux - IRC Channels{% endblock %}
{% block content %}
<div class="box">
    <h2 class="title">IRC Channels</h2>
    <br /><br />
    <p>You can find Arch-related discussion on the following IRC channels.
    All channels are on <strong>irc.freenode.net</strong></p>
    <table cellspacing="20">
        <tr>
            <td><strong>#archlinux</strong></td>
            <td>The main discussion channel, mostly in English</td>
        </tr><tr>
            <td><strong>#archlinux64</strong></td>
            <td>x86_64 specific discussion channel, mostly in English</td>
        </tr><tr>
            <td><strong>#archlinux-bugs</strong></td>
            <td>Bug-centric discussion</td>
        </tr><tr>
            <td><strong>#archlinux-offtopic</strong></td>
            <td>Random offtopic discussions.</td>
        </tr><tr>
            <td><strong>#archlinux-pacman</strong></td>
            <td>Pacman development and discussion</td>
        </tr><tr>
            <td><strong>#archlinux-br</strong></td>
            <td>Discussion (Brazilian)</td>
        </tr><tr>
            <td><strong>#archlinux-cr</strong></td>
            <td>Discussion (Costa Rica)</td>
        </tr><tr>
            <td><strong>#archlinux.de</strong></td>
            <td>Discussion (German)</td>
        </tr><tr>
            <td><strong>#archlinux.dk</strong></td>
            <td>Discussion (Danish)</td>
        </tr><tr>
            <td><strong>#archlinux-es</strong></td>
            <td>Discussion (Spanish)</td>
        </tr><tr>
            <td><strong>#archlinuxfr</strong></td>
            <td>Discussion (French)</td>
        </tr><tr>
            <td><strong>#archlinux-gaelic</strong></td>
            <td>Discussion (Gaelic)</td>
        </tr><tr>
            <td><strong>#archlinux.hu</strong></td>
            <td>Discussion (Hungarian)</td>
        </tr><tr>
            <td><strong>#archlinux.it</strong></td>
            <td>Discussion (Italian)</td>
        </tr><tr>
            <td><strong>#archlinux-pl</strong></td>
            <td>Discussion (Polish)</td>
        </tr><tr>
            <td><strong>#archlinux.ro</strong></td>
            <td>Discussion (Romanian)</td>
        </tr><tr>
            <td><strong>#archlinux.se</strong></td>
            <td>Discussion (Swedish)</td>
        </tr><tr>
            <td><strong>#archlinux.tr</strong></td>
            <td>Discussion (Turkish)</td>
        </tr>
    </table>
</div>
<br /><br />
{% endblock %}

