{% extends "base.html" %}

{% block content %}
<div class="box">
	<h2 class="title">IRC Channels</h2>
	<br /><br />
	<p>You can find Arch-related discussion on the following IRC channels.
	All channels are on <strong>irc.freenode.net</strong></p>
	<table cellspacing="20">
		<tr>
			<td><strong>#archlinux</strong></td>
			<td>The main discussion channel, mostly in English</td>
		</tr><tr>
			<td><strong>#archlinux-bugs<strong></td>
			<td>Bug-centric discussion</td>
		</tr><tr>
			<td><strong>#archlinuxfr</strong></td>
			<td>Discussion (French)</td>
		</tr><tr>
			<td><strong>#archlinux.de</strong></td>
			<td>Discussion (German)</td>
		</tr><tr>
			<td><strong>#archlinux.se</strong></td>
			<td>Discussion (Swedish)</td>
		</tr><tr>
			<td><strong>#archlinux.dk</strong></td>
			<td>Discussion (Danish)</td>
		</tr><tr>
			<td><strong>#archlinux-es</strong></td>
			<td>Discussion (Spanish)</td>
		</tr><tr>
			<td><strong>#archlinux.br</strong></td>
			<td>Discussion (Brazilian Community)</td>
		</tr>
	</table>
</div>
<br /><br />
{% endblock %}

