{% extends "base.html" %}
{% load static from staticfiles %}
{% load cache %}

{% block title %}Arch Linux - {{ user_type }}{% endblock %}

{% block head %}<link rel="stylesheet" type="text/css" href="{% static "flags/fam.css" %}" media="screen, projection" />{% endblock %}

{% block content %}
{% cache 600 dev-tu-profiles user_type %}
<div id="dev-tu-profiles" class="box">
    <h2>Arch Linux {{user_type}}</h2>

    <p>{{description}}</p>

    {% with users as dev_list %}
    {% include 'public/developer_list.html' %}
    {% endwith %}
</div>
{% endcache %}
{% endblock %}
