{% extends "base.html" %}
{% load static %}
{% load cache %}

{% block title %}Arch Linux - {{ group.name }}{% endblock %}

{% block head %}<link rel="stylesheet" type="text/css" href="{% static "flags/fam.css" %}" media="screen" />{% endblock %}

{% block content %}
{% cache 600 dev-tu-profiles group.name %}
<div id="dev-tu-profiles" class="box">
    <h2>Arch Linux {{ group.name }}</h2>

    <p>{{ group.description }}</p>

    {% with users as dev_list %}
    {% include 'public/developer_list.html' %}
    {% endwith %}
</div>
{% endcache %}
{% endblock %}
