name: Github-Actions

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    - name: Set up Python 3.14
      uses: actions/setup-python@v5
      with:
        python-version: 3.14
    - name: Install uv
      id: setup-uv
      uses: astral-sh/setup-uv@v6
      with:
        version: "0.7.19"
        enable-cache: true
    - name: Install dependencies
      if: steps.setup-uv.outputs.cache-hit != 'true'
      run: uv sync
    - name: Run ruff
      run: |
        uv run ruff check .
    - name: Lint with flake8
      run: |
        make lint
    - name: Run collectstatic
      run: |
        make collectstatic
    - name: Run tests
      run: |
        make coverage
